
	{% comment %}
	-----------------------------------------------------------------
	--- the  following handles the X that will close this expansion
	--- and all subexpansions.
	{% endcomment %}
	
	{% if parent_title != 'Root' %}
		<script type="text/javascript">
			//sets up the close div button
			divtrigger("a#contract{{parent_title}}","div#expand_{{parent_title}}",'tag_contract/',{})
					
			$(document).ready(function(){
				//these first two highlight the target div when close is moused over
				$('#contract{{parent_title}}').mouseover(function(){
					$('div#expand_{{parent_title}}').addClass('div_hover');
				});
					         
				$('#contract{{parent_title}}').mouseout(function(){
					$('div#expand_{{parent_title}}').removeClass('div_hover');
				});
				
 				// Removes dotted line at top of tag branch weh n branch is closed
				$('#contract{{parent_title}}').click(function(){
					$('div#expand_{{parent_title}}').removeClass('div_hover');
					$('div#expand_{{parent_title}}').removeClass('toprule');
				});

			});
		</script> 
			
			
		<a href="javascript:;" title="collapse children" id="contract{{parent_title}}" class="subtle div_close">X</a>
	{% endif %}
	<!-- X: END -->

	{% comment %}
	-----------------------------------------------------------------
	--- Here begins the expansion itself. 
	--- It consists of a list of tags, each with several interactions.
	{% endcomment %}
	
	<ul>
		<!-- NEW: This code enables the administrative new tag button -->
		{% if user.admin %}
		<div id="new{{parent_title}}" class="new_tag">
			{% include 'newbutton.html' %}
		</div>
		{% endif %}

		<!-- NEW: END -->
		
		{% for tag in tags %}
			<div id="self_{{tag.title}}">
								
				<li id="{{tag.title}}">
					{% if not tag.children.0 and user_type != 'admin' %}
					<!-- EXPAND: enables the expansion of the tag tree to view current tag's children. -->
					{{tag.title}} 

					{% else %}
					<script type="text/javascript">
						divtrigger("a#branch{{tag.title}}","div#expand_{{tag.title}}",'tag_expand/',{"title":"{{tag.title}}","user_type":"{{user_type}}"})
						
						$('#branch{{tag.title}}').click(function(){
					    $('div#expand_{{tag.title}}').addClass('toprule');
 						});

					</script> 
					
					<a href="javascript:;"  title="view children" id="branch{{tag.title}}">{{tag.title}}</a> 
					{% endif %}
					<!-- EXPAND: END -->
					
					<!-- ADD allows user to tag their documents -->
					{% ifequal user_type "user" %}
					<script type="text/javascript">	
							$(document).ready(function(){
								$("a#add{{tag.title}}").click(function(){
									if (added_tags.length >= 3)
										{
											alert("A maximum of three leaf tags are allowed. If you would like to include this tag you must remove one of the currently included tags.");
										}
									else
										{
											//when the tag is pushed wrap in quotes for python
											added_tags.push("'"+"{{tag.title}}"+"'");
											//insert a hidden input into the create submission form
											$('input#create_input').after(
											'<div class="include_{{tag.title}}">	\
											<input type="hidden" name="added_tag" class="include_{{tag.title}}" value="{{tag.title}}"/>	\
											</div>'
											);
											$("div#added_tags").load(
												'tag_addto/',
												//join to make string: wrap in brackets to make python list
												{"added_tags":"[" + added_tags.join() + "]"}
											);
										}
								});
							});	
	
					</script> 
						
					<a href="javascript:;"  title="Include tag" id="add{{tag.title}}" class="subtle">add</a>
					{% endifequal %}
					<!-- ADD: END -->
					
					{% ifequal user_type "admin"%}
					<!-- REMOVE: BEGIN -->
					<script type="text/javascript">
					divtrigger("a#remove{{tag.title}}","div#{% if parent_title %}expand_{{parent_title}}{% else %}self_{{tag.title}}{% endif %}",
					'tag_remove/',{"title":"{{tag.title}}"},"Delete this tag and all of its children?")
					</script> 
					
					<a href="javascript:;" title="delete this category and all of its subtags" id="remove{{tag.title}}" class="subtle">remove</a>
					{% endifequal %}
									
					<div id="expand_{{tag.title}}" class="tag_expand"></div>
				</li>
			</div>
		{% endfor %}
	</ul>