
<script type="text/javascript">
	divtrigger("a#form_close{{parent_title}}","div#expand_{{parent_title}}",'tag_expand/',{"title":"{{parent_title}}","user_type":"{{user_type}}"})

		$(document).ready(function(){
				$("#create_{{parent_title}}").click(function(){
					
					var new_title = $('#title{{parent_title}}').val();
						{
							$({% if parent_title %}"div#expand_{{parent_title}}"{% else %}'#tag_explorer'{% endif %}).load(
								'tag_create/',
								{"parent_title":"{{parent_title}}","new_title":new_title}
							);
						};
				});
			});	
		
		
</script> 




<li>
<form action="tag_create/" method=post>
	Title: <input id="title{{parent_title}}" type="text" name="new_title"/>
	<input type=hidden name="parent_title" value="{{parent_title}}"/>
	<button type="button" id="create_{{parent_title}}">Create</button>
	<a href="javascript:;" id="form_close{{parent_title}}" class="subtle">x</a>
</form>

</li>	
	
