

/**************************************/
/***********EVERY PAGE****************/


div.bodycontent{

    margin-left: 120px;
    margin-right: 100px;
  	border-color:#995;
	border-style:solid;
	border-width:1px;
	padding:50px;
	min-width:600px;

}


div.pageframe{
	
	margin-left: 20px;
	padding-bottom:40px;
	width:100%;
}


body {
    height: 100%;
}

/************************************************/
/**************WIDELY USED***********************/
/************************************************/

a.subtle,a.subtle:hover{
	text-decoration: none;
}


.clickable{
	cursor:pointer;	
}

.fullpage{
	margin-top: 30px;
	margin-bottom: 30px;
	min-height: 500px;
}

/***************many element presentation standards********************/
/*********************************************************************/

/************** FONTS **********************/

body {
    font-family: 'palatino linotype' ‘Book Antiqua’, Palatino, serif;
}

/* Elements that Represent Passages of Text are Seriffed*/
div.comment,div#document,h1.document,h2.document,.stream_title,.stream_subtitle, .stream_description{
	color:#000;
	font-family: "Times New Roman",Times,serif;
}

/***************** COLORS **************************/

/* page backgrounds (lightest)*/
div.bodycontent,#sidebar,.menu_head{
		background: #fff;
	}

/* off white, namely links in the main header */
a.home,a.creator,a.header{
	color:#eee;
}

div.comment_top{
	background: #ddd;
}

/* outer spaces (light) */
body{
	background: #d1d1d1;	
}

div.comment {
	background-color:#eee;
	border-color:
	color:black;
}

div.comment_top,div.comment {
	border-color: #a00606
}

div.minimized_comment{
	background-color: #a3a3a3;
	color:#fff;

}

/* Semi dark */
.sidebar_link,a.subtle{
	color:#995;
}

.stream_title{
	color:#322;
}

/* site text (dark)*/
div.bodycontent,#sidebar,hr.menu,.menu_head,.sidebar_link:hover,a.subtle:hover{
	color: #010101;
}

/* dark background, namely, main header */
div.pagetop,div.comment_header,.unselected,.minimized_comment:hover {

    color: #fff;
    background: #242e2f;

}

.stream_header{
	border-color:#444;
}

h1.creator{
	color:#aaa;
}

div.div_hover{
	background-color:#ddd;
}

/***************** SHAPES ************************/

/* rounded box with shadow */
#sidebar,div.bodycontent,div.pagetop{
	
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: -1px 1px 6px #000;

}

/* MEGA SHADOW */
div.pagetop{
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: 0px 4px 50px #000;

}


/* rounded box withOUT shadow */
div.minimized_comment,div.stream_item{
	
-moz-border-radius: 10px;
-webkit-border-radius: 10px;

}

/* rounded box withOUT shadow: less bubbly */
div.minimized_comment,div.stream_item{
	
-moz-border-radius: 5px;
-webkit-border-radius: 5px;

}

/* rounded box top */
div.comment_header,.tab,.inner_tabs{
	
-moz-border-radius-topleft: 10px;
-webkit-border-top-left-radius: 10px;

-moz-border-radius-topright: 10px;
-webkit-border-top-right-radius: 10px;
}

/* rounded box bottom */
div.comment{
	
-moz-border-radius-bottomleft: 10px;
-webkit-border-bottom-left-radius: 10px;

-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-right-radius: 10px;
}

/*******************TABS************************/

div.bodytabs{
	border-bottom:solid 1px #999;
	padding-left:20px;
}

div.tabs{
	margin-left:120px;
}
li.tab{	

	padding:5px;
	padding-bottom:1px;
	display:inline;
	padding-top:10px;
	width:100px;
	text-align:center;	
	font-size:20px;
	height:35px;
	cursor:pointer;
}

.selected{
	border-top:solid 1px #aaa;
	border-left:solid 3px #aaa;
	border-right:solid 1px #aaa;
	border-bottom:solid 1px #fff;
	color#000;
	background:#fff;	
}

.unselected{
	border-color:#fff;
	border:solid 1px;
	border-bottom:none;
	border-left:solid 3px;
}
.unselected:hover{
	background:#555;
}

ul.tabs{
	list-style-type:none;
	margin:0;
	padding:0;
}
/*
.inner_tabs{
	background:#aaa;
	padding:10px;
	color:white;
}
*/
/************************************************/
/******************sidebar**********************/
#sidebar{
	
	padding-top:3px;
	padding-left:3px;
	padding-right: 3px;
	padding-bottom:10px;
	font-size:10px;
    float: left;
    width: 160px;
    border-color:#995;
	border-style:solid;
	border-width:1px;

}

div.menu{
	margin-left:6px;
}

hr.menu{
	margin-top:10px;
	height: 3px;
	width:50%;
}

.menu_head{
	border-bottom:1px solid;
}

h2.menu_head{
	font-size:17px;
}
h3.menu_head{
	font-size:15px;
}

.sidebar_link{
	text-decoration: none;
}

.sidebar_link:hover{
	text-decoration: none;
}

.sidebar_table{
	font-size:10px;
}
/************************************************/
/******************left outer column**********************/
.l_outer{
	float:left;
	margin-left:-40px;
	max-width:140px;
	padding: 5px;
	overflow:hidden;
}

.l_outer a{
	color = #aaa;
}

.l_outer a:hover{
	color = #ccc;	
}

.l_outer a:visited{
	color = #444;	
}

.l_outer a:active{
	color = #000;	
}

.l_outer ul{
	list-style-type: none;
	margin-left = -30px;
}

/***************Main Header*****************/

div.pagetop {
	margin-top:0px;
	margin-bottom:100px;
	margin-right:0px;
	margin-left:0px;
    padding: 0 5em;
    height:110px;
    overflow:hidden;
    border:solid 2px white;
}

a.home{
	font-size:50px;
	text-decoration: none;
}

#pagetop_content{
	margin-top:20px;
	margin-left: 180px;
}

.headeritem{
	margin-top:0px;
	margin-bottom:0px;
}




/****************Document***************************/

h1.document, h2.document{
	max-width:900px;
	min-width:600px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

h1.document{
	margin-top:100px;
	font-variant: small-caps;
}

h2.document{
	font-style:italic;
}

div#document{
	font-size:18px;
	max-width:900px;
	min-width:600px;
	margin-right:auto;
	margin-left:auto;
	text-align: left;
	padding-top:50px;
	padding-bottom:100px;
}

#document_info{
	max-width:600px;
	border: dotted 1px #aaa;
	padding:10px;
	margin-top: 20px;
}

.docinfoitem{
	margin-top:5px
	margin-left:30px;
	margin-bottom:5px;
}

.facebook{
	margin-top:10px;
	margin-bottom:-130px;
	/*border:none; 
	width:450px; 
	height:80px*/
}

/****************Rating*************************/

.rate {
	margin-right:3px;
	float: right;
}

a.rate_up{
	display: block;
	height: 20px;
	width: 40px;
	background-color:transparent;
	background-image: url('/static/images/rate_up_off.jpg');
}

a.rate_up:hover{
	background-image: url('/static/images/rate_up_on.jpg');
}

a.rate_down{
	display: block;
	height: 20px;
	width: 40px;
	background-color:transparent;
	background-image: url('/static/images/rate_down_off.jpg');
}

a.rate_down:hover{
	background-image: url('/static/images/rate_down_on.jpg');
}

/*****************CREATOR***************************/
/* Creator style defines the username that appears
near the top of all pages associated with a particular
user */

h1.creator{
	text-align:center;
	width:600px;
	font-size:60px;
	margin-left:auto;
	margin-right:auto;
	font-variant: small-caps;
}


a.creator{
	text-decoration: none;
}


a.div_close{
	float: right;
}


div.bottomlinks{

	padding-top: 2%;
	text-align: center;
	clear: both;
}

/**************Tag System********************/

.toprule{
    border-top: 1px dotted;
}

.subtlebutton{
	margin-top: 20px;
}

/****************Comment*********************/

/*
a.reply:link,a.reply:visited
	{
	display:block;
	font-weight:bold;
	color:#255;
	background-color:#f0effa;
	width:60px;
	text-align:center;
	padding:1px;
	text-decoration:none;
	}
a.reply:hover,a.reply:active
	{
	background-color:#98bf21;
	}
*/

div.nested{

	margin-right:20px;
	position:relative;
	left:20px;
	border-left-style:dotted;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#999;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
}

div.comment_header{
	cursor:pointer;
	padding: 2px;
	padding-left:5px;
	margin-top: 2px;
	margin-bottom: -8px;
}

div.comment_top{
	margin-top:10px;
	border-right:solid 1px;
	border-left:solid 1px;
}

div.minimized_comment{
	padding-left:5px;
	margin-top:15px;
	cursor:pointer;
	height:20px;
	overflow:hidden;
}

div.top_comment{
	border-top-style:dotted;
	border-right-style:solid;
	border-bottom-style:dotted;
	border-left-style:solid;
}

div.comment {
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
	border-left:solid 1px;
	border-right:solid 1px;
	border-bottom:solid 1px;
}


div.commentary{
	clear:both;
}

/***********user page*****************/

div.right_half{
	margin-left:45%;
	border-left:solid;
	padding-left:10px;
}

div.left_half{
	float:left;
	width:40%;
}
/***********subscription stream************/

.stream_header{
	border-bottom:solid 2px;
	padding-bottom:2px;
	margin-bottom:2px;
	font-size:12px;
}

.stream_title{
	font-weight:bold;
	font-size:24px;
	font-variant: small-caps;
}

.stream_subtitle{
	font-style:italic;
	padding-bottom:5px;

}

.stream_description{

}

div.stream_item{
	/*box-shadow: -1px 1px 3px #000;*/
	border:solid 1px;
	border-color: #aaa;
	overflow:hidden;
	padding:5px;
	max-height:125px;
	margin-bottom:5px;
	/*border-bottom:dotted;*/
}

/********************Document Browser (by tag)***************************/



.tag_button{
	cursor:pointer;
	margin:5px;
	border:solid 1px;
	padding: 5px;
}

.tag_button:hover{
	cursor:pointer;
	margin:5px;
	padding: 5px;
	background:#333;
	color:#fff;
	
}

.path_button{
	background:#bbb;
	color:#fff
}

.focal_button{
	background:#333;
	color:#fff;
}

.child_button{
	border:solid 3px #333;
}

.browser_children{
	padding: 10px;
	margin-top: 5px;
}

.browser_documents{
	overflow:scroll;
}

.browser_path{
	padding-bottom:10px;
	border-bottom: solid 1px;
}



