

/**************************************/
/***********EVERY PAGE****************/


div.bodycontent{

    margin-left: 120px;
    margin-right: 100px;
	border:solid 2px #333;
	padding:50px;
	min-width:650px;
	overflow: auto;
}


div.pageframe{
	
	margin-left: 20px;
	padding-bottom:40px;
	width:100%;
}


body {
    height: 100%;
}

/************************************************/
/**************WIDELY USED***********************/
/************************************************/

.highlight{
	background-color: #ff0;
}

a.subtle,a.subtle:hover{
	text-decoration: none;
	font-family:'Arial',Sans-serif;
}


.clickable{
	cursor:pointer;	
}

.fullpage{
	margin-top: 30px;
	margin-bottom: 30px;
	min-height: 500px;
}

.hidden{
	visibility: hidden;
	display: none;
}

.revealed{
	visibility: visible;
}

.username{
	font-variant: small-caps;
}

a.username{
	font-variant: small-caps;
	color: #999;
	text-decoration: none;
}

a.username:hover{
	color: #000;
}

.warning{
	color: red;
}

.exit{
	margin-top:-10px;
	color: #bbb;
	font-size: 25px;
	float: right;
	padding:3px;
}

.exit:hover{
	cursor: pointer;
	color: #555;
}

.aButton{
	border:solid 1px #999;
	text-decoration: none;
	color:#000;
	padding: 3px;
}

.aButton:hover{
	border-color: #000;
}

.scriptOnly{
	display:none;
}

.round{
	padding:5px;
}

/***************many element presentation standards********************/
/*********************************************************************/

/************** FONTS **********************/
.exit{
	font-family:'Arial',Sans-serif;
}

body{
    font-family: 'palatino linotype' ‘Book Antiqua’, Palatino, serif;
}

/* Elements that Represent Passages of Text are Seriffed*/
div.comment .content,div#document,h1.document,h2.document,.stream_title,.stream_subtitle, .stream_description{
	color:#000;
	font-family: "Times New Roman",Times,serif;
}

/***************** COLORS **************************/

/* page backgrounds (lightest)*/
div.bodycontent,#sidebar,.menu_head{
		background: #fff;
	}

/* off white, namely links in the main header */
a.home,a.creator,a.header{
	color:#eee;
}

div.comment .top{
	background: #eee;
	color: #222
}

/* outer spaces (light) */
body{
	background: #d1d1d1;	
}

div.comment .content {
	background-color:#fff;
	color:#000;
}

div.comment .top,div.comment .content {
	border-color: #a00606
}

div.commentHeaderMin{
	background-color: #a3a3a3;
	color:#fff;

}

/* Semi dark */
.sidebar_link,a.subtle{
	color:#777;
}

.stream_title{
	color:#322;
}

/* site text (dark)*/
div.bodycontent,#sidebar,hr.menu,.menu_head,.sidebar_link:hover,a.subtle:hover{
	color: #010101;
}

/* dark background, namely, main header */
div.pagetop,.comment .header,.unselected,.commentHeaderMin:hover,div.commentBox {

    color: #fff;
    background: #242e2f;

}

.stream_header{
	border-color:#444;
}

h1.creator{
	color:#aaa;
}

div.div_hover{
	background-color:#ddd;
}

/***************** SHAPES ***********************


#sidebar,div.bodycontent,div.pagetop{
	
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: -1px 1px 6px #000;

}


div.pagetop{
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: 0px 4px 50px #000;

}



div.stream_item{
	
-moz-border-radius: 10px;
-webkit-border-radius: 10px;

}

div.commentHeaderMin,.commentHeaderMax,div.stream_item,.commentBox{
	
-moz-border-radius: 5px;
-webkit-border-radius: 5px;

}


.tab,.inner_tabs{
	
-moz-border-radius-topleft: 10px;
-webkit-border-top-left-radius: 10px;

-moz-border-radius-topright: 10px;
-webkit-border-top-right-radius: 10px;
}


div.comment{
	
-moz-border-radius-bottomleft: 10px;
-webkit-border-bottom-left-radius: 10px;

-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-right-radius: 10px;
}
*/
/*******************TABS************************/

div.bodytabs{

	border-bottom:solid 2px #343e3f;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:-5px;
}

div.tabs{
	margin-left:1px;
}
li.tab{	
	margin-right:1px;
	padding:5px;
	padding-bottom:1px;
	display:inline;
	margin-top:10px;
	width:100px;
	text-align:center;	
	font-size:20px;
	font-weight:bold;
	height:35px;
	cursor:pointer;
}

div.tab{
	padding-top: 10px;
}

.selected{
	/*border-top:solid 1px #aaa;
	border-left:solid 3px #aaa;
	border-right:solid 1px #aaa;
	border-bottom:solid 1px #fff;*/
	border:solid 2px #343e3f;
	border-bottom:solid 2px #fff;;
	color#000;
	background:#fff;	
}

.unselected{
	/*border-color:#fff;
	border:solid 1px;
	border-bottom:none;
	border-left:solid 3px;*/
}
.unselected:hover{
	background:#555;
}

ul.tabs{
	list-style-type:none;
	margin:0;
	padding:0;
}

.maintabs{
	margin-left:150px;
}
/*
.inner_tabs{
	background:#aaa;
	padding:10px;
	color:white;
}
*/
/************************************************/
/******************sidebar**********************/
#sidebar{
	
	padding-top:3px;
	padding-left:3px;
	padding-right: 3px;
	padding-bottom:10px;
	font-size:10px;
    float: left;
    width: 160px;
    border-color:#995;
	border-style:solid;
	border-width:1px;

}

div.menu{
	margin-left:6px;
}

hr.menu{
	margin-top:10px;
	height: 3px;
	width:50%;
}

.menu_head{
	border-bottom:1px solid;
}

h2.menu_head{
	font-size:17px;
}
h3.menu_head{
	font-size:15px;
}

.sidebar_link{
	text-decoration: none;
}

.sidebar_link:hover{
	text-decoration: none;
}

.sidebar_table{
	font-size:10px;
}
/************************************************/
/******************left outer column**********************/
.l_outer{
	float:left;
	margin-left:-40px;
	max-width:140px;
	padding: 5px;
	overflow:hidden;
}

.l_outer a{
	color = #aaa;
}

.l_outer a:hover{
	color = #ccc;	
}

.l_outer a:visited{
	color = #444;	
}

.l_outer a:active{
	color = #000;	
}

.l_outer ul{
	list-style-type: none;
	margin-left = -30px;
}

/***************Main Header*****************/

div.pagetop {
	margin-top:0px;
	margin-bottom:100px;
	margin-right:0px;
	margin-left:0px;
    padding: 0 5em;
    height:110px;
    overflow:hidden;
    border:solid 2px white;
}

a.home{
	font-size:50px;
	text-decoration: none;
}

#pagetop_content{
	margin-top:20px;
	margin-left: 180px;
}

.headeritem{
	margin-top:0px;
	margin-bottom:0px;
}




/****************Document***************************/

h1.document, h2.document{
	max-width:900px;
	min-width:600px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

h1.document{
	margin-top:100px;
	font-variant: small-caps;
}

h2.document{
	font-style:italic;
}

div#document{
	font-size:18px;
	max-width:900px;
	min-width:600px;
	margin-right:auto;
	margin-left:auto;
	text-align: left;
	padding-top:50px;
	padding-bottom:100px;
}

#document_info{
	max-width:600px;
	border: dotted 1px #aaa;
	padding:10px;
	margin-top: 20px;
}

.docinfoitem{
	margin-top:5px
	margin-left:30px;
	margin-bottom:5px;
}

.facebook{
	margin-top:10px;
	margin-bottom:-130px;
	/*border:none; 
	width:450px; 
	height:80px*/
}

/****************Rating*************************/

.rate {
	margin-right:5px;
	float: right;
	margin-top:-20px;
}

a.rate_up{
	display: block;
	height: 20px;
	width: 40px;
	background-color:transparent;
	background-image: url('/static/images/rate_up_off.jpg');
}

a.rate_up:hover{
	background-image: url('/static/images/rate_up_on.jpg');
}

a.rate_down{
	display: block;
	height: 20px;
	width: 40px;
	background-color:transparent;
	background-image: url('/static/images/rate_down_off.jpg');
}

a.rate_down:hover{
	background-image: url('/static/images/rate_down_on.jpg');
}

/*****************CREATOR***************************/
/* Creator style defines the username that appears
near the top of all pages associated with a particular
user */

h1.creator{
	text-align:center;
	width:600px;
	font-size:60px;
	margin-left:auto;
	margin-right:auto;
	font-variant: small-caps;
}


a.creator{
	text-decoration: none;
}


a.div_close{
	float: right;
}


div.bottomlinks{

	padding-top: 2%;
	text-align: center;
	clear: both;
}

/**************Tag System********************/

.toprule{
    border-top: 1px dotted;
}

.subtlebutton{
	margin-top: 20px;
}

/****************Comment*********************/

/*
a.reply:link,a.reply:visited
	{
	display:block;
	font-weight:bold;
	color:#255;
	background-color:#f0effa;
	width:60px;
	text-align:center;
	padding:1px;
	text-decoration:none;
	}
a.reply:hover,a.reply:active
	{
	background-color:#98bf21;
	}
*/

div.nested{

	margin-right:20px;
	margin-bottom:1px;
	position:relative;
	left:20px;
	border-left-style:dotted;
	border-bottom-style:solid;
	border-width:1px;
	border-color:#999;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
}

.comment{
	margin-top: 15px;
	
}

div.comment .header{
	font-weight:bold;
	padding-left:10px;
	margin-top:2px;
	margin-bottom: -5px;
}

div.comment .header a{
	color:#fff;
	text-decoration: none;
}

div.commentHeaderMax{

}

div.commentHeaderMin{
	max-height: 20px;
	overflow:hidden;
}

div.commentHeaderMin:hover{
	
}

div.comment .top{
	height:25px;
	margin-top:0px;
	border-bottom: dotted 1px;
}

div.commentBox{

	margin-top: 5px;
	padding:4px;
	padding-top:1px;
}

div.top_comment{
	border-top-style:dotted;
	border-right-style:solid;
	border-bottom-style:dotted;
	border-left-style:solid;
}

div.comment .content {
	color:black;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
}


div.commentary{
	clear:both;
}

.postcomment{
	margin-top: 3px;
	border:solid 2px #aaa;
	max-width: 600px;
	padding:5px;
	padding-left: 20px;
}

/***********tabular page division*****************/

div.right_half{
	margin-left:55%;
	border-left:solid;
	padding-left:10px;
}

div.left_half{
	float:left;
	width:50%;
}
/***********subscription stream************/

.stream_header{
	border-bottom:solid 2px;
	padding-bottom:2px;
	margin-bottom:2px;
	font-size:12px;
}

.stream_item>.header{
	border-bottom:solid 2px;
	padding-bottom:2px;
	margin-bottom:2px;
	font-size:12px;
}

.stream_title{
	font-weight:bold;
	font-size:24px;
	font-variant: small-caps;
}

.stream_item .title{
	color:#322;
	font-weight:bold;
	font-size:24px;
	font-variant: small-caps;
}

.stream_item .title a{
	color:#322;
	font-weight:bold;
	font-size:24px;
	font-variant: small-caps;
	text-decoration: none;	
}
.stream_item .title a:hover{
	text-decoration: underline;
}

.stream_subtitle{
	font-style:italic;
	padding-bottom:5px;
}


h2 .aButton{
	margin-left: 30px;
}

.stream_description{

}

div.stream_item{
	/*box-shadow: -1px 1px 3px #000;*/
	border:solid 1px;
	border-color: #aaa;
	overflow:hidden;
	padding:5px;
	max-height:125px;
	max-width:600px;
	margin-bottom:5px;
	/*border-bottom:dotted;*/
}

div.stream_item:hover{
	border-color: #000;
}

/********************Document Browser (by tag)***************************/

.tag_browser{

}

.tag_button{
	cursor:pointer;
	margin:1px;
	border:solid 1px;
	padding-left: 5px;
	padding-right: 5px;
	display:inline-block;
	font-size:small;
	font-variant: small-caps;
}

.tag_button:hover{
	background:#333;
	color:#fff;
}

.path_button{
	background:#bbb;
	color:#fff
}

.focal_button{
	background:#333;
	color:#fff;
}

.child_button{
	color: #333;
	border:solid 2px #333;
}

.browser_children{
	padding: 10px;
	margin-top: 5px;
}

.browser_documents{
	
}

.browser_path{
	padding-bottom:10px;
	border-bottom: solid 1px;
}

ul.test{
	border:solid 1px;
}


/********************One Off: should probably be done in some more general way ***************************/




div.marginalNote{
	margin-top: 100px;
	margin-left:50%;
	border:solid;
	max-width:200px;
	background-color: #eee;
}


