{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/comment_system.js"></script>
{% endblock %}

{% block content %}
{% block main_content %}
{% endblock main_content %}

{% comment %}
----------------------------------------------------------------------------
	This is a scriptless version of the comment browser that follows many 
	content pages. Is intended to be progressively enhanced via scripts.
----------------------------------------------------------------------------
{% endcomment %}
<div class="commentary">
	<h2>Comments</h2>
	{% if user %}
	<span class="rate threshold" value={{user.minimizeThreshold}} title="comments with ratings below your threshold will be minimized"> 
		Your Rating Threshold is {{user.minimizeThreshold}}
	</span>
	{% endif %}
	<hr>
	
		<form action="/postcomment/" method="post">
		<input type="hidden" name="aboveKey" value="{{pageObject.key}}" />
	    <input type="submit" value="Post Comment" />
		</form>

	{% for comment, key, depth in commentary.comment_data %}
	
	{% comment %}
	--------------------------------------------------------------------------
		This loop handles comment indentation.  Depth contains lists with 
		+1 elements for opening nested divs and -1 elements for closing them.
	--------------------------------------------------------------------------
	{% endcomment %}
	
			{% if depth %}
				{% for i in depth %}
					{% if i > 0 %}
						<div class="nested">
					{% else %}
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
			
			<div class="comment" id="{{comment.key}}">
				<div class="header">
					<span class="subject">{{comment.subject}}</span>
					<span class="commentRating" value="{{comment.rating}}">(Rating: {{comment.rating}})</span>
				</div>	
				<div class="commentBox" >
					<div class="top">
					    <small>[<i>{{ comment.date.ctime }}</i>]</small>
						</b>
						{% if comment.author %}
							<a href="/user/{{ comment.author.username }}/" id="{{comment.key}}"><code>{{ comment.author.username }}</code></a> 
						{% else %}
							<i>anonymous</i>
						{% endif %}
						</b>
						wrote:<br>
		
						{% if user and user.modPoints or user.is_admin %}
							{% if not comment.author.username == user.username or user.is_admin%}
								{% if user.username not in comment.raters or user.is_admin %}
									{% if comment.rating < 5 %}					
									<form action="/rate/" method="post" class="rate">
										<input type="hidden" name="key" value="{{key}}" />
										<input type="hidden" name="rating" value="up" />
										<input type="hidden" name="scriptless" value="true" />
										<input  type="submit" value="rate up" />
									</form>
									{% endif %}
									{% if comment.rating > -1 %}	
									<form action="/rate/" method="post" class="rate">
										<input type="hidden" name="key" value="{{key}}" />
										<input type="hidden" name="rating" value="down" />
										<input type="hidden" name="scriptless" value="true" />
										<input  type="submit" value="rate down" />
									</form>
									{% endif %}
								{% else %}
									<span class="rate">Thanks for rating.</span>
								{% endif %}
							{% endif %}	
						{% else %}
							<span class="rate">Registered users can gain the ability to moderate comments.</span>
						{% endif %}
					</div>
					
					<div class="content">{% autoescape off %}{{ comment.content }}{% endautoescape %}</div>
				</div>	
				{% if user and user.username == comment.author.username or user.is_admin %}
			
				<form action="/postcomment/" method="post">
					<input type="hidden" name="selfKey" value="{{key}}" />
					<input type="hidden" name="scriptless" value="true" />
					<input type="submit" value="Edit" />
				</form>
		
				{% endif %}					
				<form action="/postcomment/" method="post">
					<input type="hidden" name="aboveKey" value="{{key}}" />
					<input type="hidden" name="scriptless" value="true" />
					<input type="submit" value="Reply" />
				</form>
			</div>


			

			
	{% endfor %}
	
	{% comment %}
	-----------------------------------------------------------
		If the end of the comment tree is still indented
		(i.e. the final comment is some level of reply)
		this loop closes out the nested divs.
	-----------------------------------------------------------
	{% endcomment %}
	
	{% for i in commentary.sum_delta %}
		</div></div>
	{% endfor %}

</div>
</div>
{% endblock content %}

{% block postBody %}
{% endblock %}