{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}
{% block main_content %}
	
{% endblock main_content %}

<div class="commentary">
	<h2>Comments</h2>
	<hr>

		<script type="text/javascript">
		$(document).ready(function(){
		  $("button#post_comment").click(function(){
		    $("div#comment_box").load(
		    	'comment_box/'
		    	,{
		    	{% if document %}
		    	"filename":"{{document.filename}}",
		    	"authorname":"{{document.authorname}}",
		    	{% else %}
		    	"page_user":"{{page_user.username}}",
		    	{% endif %}
		    	},
		    	function(){basic_MCE()}
		    );
		  });
		});		
		</script>
			
		<div id="comment_box">
			<button id="post_comment">Post a Comment</button> 
		</div>

	{% for comment, key, depth in commentary.comment_data %}
		<!-- If there is no new indent, the previous comment has no children 
			and it's outer div must be closed before the next begins -->
		{% if forloop.counter != 1 %}
			{% if not depth or depth.0 == -1 %}
				</div>
			{% endif %}
		{% endif %}
			


			<br />
			<!-- Loop handles comment indentation.  Depth contains lists with +1
				elements for opening nested divs and -1 elements for closing them-->
			{% if depth %}
				{% for i in depth %}
					{% if i > 0 %}
						<div  class="nested">
					{% else %}
						<!--close nested/outer-->
						</div></div>
					{% endif %}
				{% endfor %}
			{% endif %}
		<!-- outer div contains comment and its children. used for ajax removal in 
			event of deletion -->
		<div id="outer_{{key}}">
			

			<script type="text/javascript">

			$(document).ready(function(){  
				  $('#header_{{key}}').click(function(){
				  	$('#minimized_{{key}}').show()
				  	$('#maximized_{{key}}').hide()
				  })
				  
				  $('#minimized_{{key}}').click(function(){
				  	$('#minimized_{{key}}').hide()
				  	$('#maximized_{{key}}').show()
				  })
				
				{% if comment.rating >= rating_threshold %}	
					$('#minimized_{{key}}').hide()
				{% else %}  
					$('#maximized_{{key}}').hide()
				{% endif %}
			});		
			</script>
			
			<div id="maximized_{{key}}">
				
				{% if comment.author.username == user.username or not user %}
					<span class="rate">Rating: {{comment.rating}}</span>
					{% else %}
						
					{% if user.username not in comment.raters %}
						<script type="text/javascript">
							$(document).ready(function(){
							  //	This script takes rating actions to the server. 
								  $("a#rate_up{{key}}").click(function(){
								    $("div#rate{{key}}").load('rate/',{
								    	"rating":"up",
								    	"key":"{{key}}",
								    	});
								  });
								  //	This script takes rating actions to the server. 
								  $("a#rate_down{{key}}").click(function(){
								    $("div#rate{{key}}").load('rate/',{
								    	"rating":"down",
								    	"key":"{{key}}",
								    	});
								  });	
							});					
						</script>
						
						<div id="rate{{key}}">
							<a href="javascript:;" title="Vote Up" id="rate_up{{key}}" class="rate rate_up"></a>
							<a href="javascript:;" title="Vote Down" id="rate_down{{key}}" class="rate rate_down"></a>
						</div>
						{% else %}
						<span class="rate">Thanks for rating this comment. Rating: {{comment.rating}}</span>				
					{% endif %}
				{% endif %}
				
				</br>
				<div class="comment_header" id="header_{{key}}">
					{{comment.subject}}
				</div>		
				<div class="comment_top">

				    <small>[<i>{{ comment.date.ctime }}</i>]</small>
					<b>
						{% if comment.author %}
							<a href="/user/{{ comment.author.username }}/" id="{{comment.key}}bookmark"><code>{{ comment.author.username }}</code></a> 
						{% else %}
							<i>anonymous</i>
						{% endif %}
					</b>
					wrote:<br>
				</div>
				
				<div class="comment" id="body_{{key}}">

					{% autoescape off %}
						{{ comment.content }}
					{% endautoescape %}
				</div>
				
				<script type="text/javascript">
				$(document).ready(function(){
				  $("button#post_reply{{key}}").click(function(){
				    $("div#reply_box{{key}}").load(
				    	'reply_box/'
				    	,{
				    	"key":"{{key}}",
				    	},
				    	function(){basic_MCE()}
				    );
				  });
				});		
				</script>
				<div id="reply_box{{key}}">
					<button id="post_reply{{key}}">Reply</button>
				</div> 
				{% if user and user.username == comment.author.username or not comment.author and user.admin %}
					<script type="text/javascript">
						$(document).ready(function(){
						  $("button#edit_{{key}}").click(function(){
						    $("div#body_{{key}}").load(
						    	'reply_box/'
						    	,{
						    	"key":"{{key}}", "request":"edit",
						    	},
						    	function(){
						    		basic_MCE();
						    		$("button#edit_{{key}}").hide()
						    		}
						    );
						    
						  });
						});		
					</script>
					<div id="edit_key{{key}}">
						<button id="edit_{{key}}">edit</button>
					</div> 
				{% endif %}
			</div>
			

			<div class="minimized_comment" id="minimized_{{key}}">
				<b id="{{comment.key}}bookmark">{{comment.subject}}:</b> {{ comment.stripped_content }}
			</div>

			
	{% endfor %}
	
	<!-- Since outers are closed in next iteration, the final
		outer is hanging and must be closed.--> 
	</div>
		<!--If the end of the comment tree is still indented
		(i.e. the final comment is some level of reply)
		this loop closes out the nested/outer divs. -->
	{% for i in commentary.sum_delta %}
		</div></div>
	{% endfor %}

</div>
{% endblock content %}