{% extends "base.html" %}

{% block title %}
	Admin 
{% endblock %}

{% block content %}
<script type="text/javascript" src="/static/js/admin.js"></script>	
	
<h1>Tag Manager</h1>
<hr/>

	<div id="tags">
		<div id="added_tags"></div>
			
	
		<button  title="Create or remove tags" id="browse_tags" class="subtlebutton">Manage Tags</button>
	</div>
	
<h1>Model Updater</h1>
<hr/>

<form action="/update-model/" method="post">
	Model Class: <input type="text" name="modelClass"/>
	<br/>
	Unique Attribute: <input type="text" name="attr"/>
	<br/>
	<input type="submit" value="Update" />
</form>
	
<h1>Users</h1>
<hr/>
{% for account in accounts %}
<a href="{{account.get_url}}" class="username">{{account.username}}</a>
{% endfor %}
	<script type="text/javascript">
	/*		$(document).ready(function(){
				$(trigger).click(function(){
					if (confirm_message == null) 
						{
							var confirmation= true;
						}
					else 
						{
							var confirmation = confirm(confirm_message);
						};
					if (confirmation==true)
						{
							$(div).load(
								url,
								context
							);
						};
				});
			});	*/	
	</script>
{% endblock %}