<!DOCTYPE HTML>
<html>
<meta charset="UTF-8">
	
	
		

<head>
	<link rel="icon" type="image/png" href="/static/images/favicon.ico"> 
	<title>{% block title %}{% endblock %}</title>	
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="google-site-verification" content="ppMmr-I-9NWCe5f2k4PvX5vDewd3dguJHX-5Q8ZpYeY" />	
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/jquery.corner.js"></script>
	<script type="text/javascript" src="/static/js/jquery.MetaData.js"></script>
	<script type="text/javascript" src="/static/js/base.js"></script>
	<script type="text/javascript" src="/static/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
	{% block scripts %}
	{% endblock %}

</head>

<body>

	<div class="pagetop">
		<div id="pagetop_content">
			{% if user %}
			<ul id="notifications">
				<li>Your reputation is: {{user.reputation}}</li>
				{% if user.modPointCount > 0 %}
				<li>You have {{user.modPointCount}} modpoints.</li>
				{% endif %}
			</ul>
			{% endif %}
			<img style="position:relative;left:-710px;top:-10px;" src="/static/images/Nib_128.png" alt="Large Quill Icon" width="80" height="80"/> 
			<b id="headerText">
				<a href="/home" class="home headeritem">bliterati.</a>
					
				{% if user %}
					Hello <span class="username">{{ user.username }}</span>!
					[<a class="header headeritem" href="{{ logout }}">sign out</a>]
					<a class="header headeritem" href="/user/{{ user.username }}/">MyPage</a>
				{% else %}
					[<a class="header headeritem" href="{{ login }}">sign in</a>] or
					<a class="header headeritem" href="/register">Register</a>
				{% endif %}

				{% if user.is_admin %}
					<a href="/admin/" class="header">admin</a>
				{% endif %}

			</b>
		</div>
	</div>
<div id="leader">
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-8699690717447951";
	/* Leader */
	google_ad_slot = "7820669993";
	google_ad_width = 728;
	google_ad_height = 90;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>
	
	<div class="pageframe">
		
		<div id="left_outer">
			{% block leftside %}
			{% endblock %}
			
			<div id="smallTextLeft">
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-8699690717447951";
				/* small text left */
				google_ad_slot = "6881593251";
				google_ad_width = 180;
				google_ad_height = 150;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</div>
		</div>
		
    	<div id="right">
    		<div id="upperSkyscraper">
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-8699690717447951";
				/* Rich Skyscraper */
				google_ad_slot = "3754291669";
				google_ad_width = 160;
				google_ad_height = 600;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</div>
    	</div>
    	
		<div class="bodywrap">
			{% block tabs %}
			{% endblock %}
			<div class="bodycontent">
			    {% block content %}
			    {% endblock %}
		    </div>
	    </div>
  		{% block postBody %}
 
  		{% endblock %}
	
    	<div class="push"></div>	
    
	</div>
	<div id="bottomlinks" class="dark round">
		<ul>
			<li>
				<a  href="/meta/">Meta </a>
			</li>
			<li>
				<a  href="/FAQ/">FAQ </a>
			</li>
		</ul>
	</div>
</body>
</html>

