<!DOCTYPE HTML>
<html>
<meta charset="UTF-8">
	
<title>
	{% block title %}
	{% endblock %}
</title>		
		

<head>
	<meta name="google-site-verification" content="ppMmr-I-9NWCe5f2k4PvX5vDewd3dguJHX-5Q8ZpYeY" />	
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/base.js"></script>
	<script type="text/javascript" src="/static/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
	{% block scripts %}
	{% endblock %}

</head>

<body>
	
	<div class="pagetop">
		<div id="pagetop_content">
			<b>
				<a href="/home" title="Don't worry, this is just a placeholder until the site has a name." class="home headeritem">EssayHost.</a>
					
				{% if user %}
					Hello {{ user.username }}!
					[<a class="header headeritem" href="{{ logout }}">sign out</a>]
					<a class="header headeritem" href="/user/{{ user.username }}/">MyPage</a>
				{% else %}
					[<a class="header headeritem" href="{{ login }}">sign in</a>] or
					<a class="header headeritem" href="/register">Register</a>
				{% endif %}

				{% if user.admin %}
					<a href="/admin/" class="header">admin</a>
				{% endif %}

			</b>
		</div>
	</div>
	
	<div class="pageframe">
		
		<div id="left_outer">
			{% block leftside %}
			{% endblock %}
		</div>

		
		{% block tabs %}
		{% endblock %}
		<div class="bodycontent">
		    {% block content %}
		    {% endblock %}
	    </div>
  
    	<br/>
	    <div class="bottomlinks">
			<a  href="/meta/">Meta</a>|
		</div>
	</div>
	
</body>
</html>

