{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}
{% block main_content %}
	
{% endblock main_content %}


	<h2>Comments</h2>
	<hr>

		<script type="text/javascript">
		$(document).ready(function(){
		  $("button#post_comment").click(function(){
		    $("div#comment_box").load(
		    	'comment_box/'
		    	,{
		    	{% if document %}
		    	"title":"{{document.title}}",
		    	"authorname":"{{document.authorname}}",
		    	{% else %}
		    	"page_user":"{{page_user}}",
		    	{% endif %}
		    	},
		    	function(){
					tinyMCE.init({ 
			        mode : "textareas",
        			theme : "simple",
        			gecko_spellcheck : true
      				}); 
		    	}
		    );
		  });
		});		
		</script>
			
		<div id="comment_box">
			<button id="post_comment">Post a Comment</button> 
		</div>


	{% for comment, key, depth in commentary.comment_data %}

		<br />
		<!-- Loop handles comment indentation. -->
		{% if depth %}
			{% for i in depth %}
				{% if i > 0 %}
					<div class="nested">
				{% else %}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
		
		<!-- This script takes rating actions to the server. -->
		<script type="text/javascript">
		$(document).ready(function(){
		  $("a#rate_up{{key}}").click(function(){
		    $("div#rate{{key}}").load('rate/',{
		    	"rating":"up",
		    	"key":"{{key}}",
		    	});
		  });
		  $("a#rate_down{{key}}").click(function(){
		    $("div#rate{{key}}").load('rate/',{
		    	"rating":"down",
		    	"key":"{{key}}",
		    	});
		  });
		});		
		</script>
			
		<div id="rate{{key}}">
			<a href="javascript:;" title="Vote Up" id="rate_up{{key}}" class="rate rate_up"></a>
			<a href="javascript:;" title="Vote Down" id="rate_down{{key}}" class="rate rate_down"></a>
		</div>
		
		</br>
		<div class="comment_header">{{comment.subject}}</div>		
		<div class="comment_top">
		    <small>[<i>{{ comment.date.ctime }}</i>]</small>
			<b>
				{% if comment.author %}
					<code>{{ comment.author.username }}</code> 
				{% else %}
					<i>anonymous</i>
				{% endif %}
			</b>
			wrote:<br>
		</div>
			
			<div class="comment">
				{% autoescape off %}
					{{ comment.content}}
				{% endautoescape %}
			</div>
		

		<script type="text/javascript">
		$(document).ready(function(){
		  $("button#post_reply{{key}}").click(function(){
		    $("div#reply_box{{key}}").load(
		    	'reply_box/'
		    	,{
		    	"key":"{{key}}",
		    	},
		    	function(){
					tinyMCE.init({ 
			        mode : "textareas",
        			theme : "simple",
        			gecko_spellcheck : true
      				}); 
		    	}
		    );
		  });
		});		
		</script>
		<div id="reply_box{{key}}">
			<button id="post_reply{{key}}">Reply</button>
		</div> 

	{% endfor %}
	
	<!-- If the end of the comment tree is still indented
		(i.e. the final comment is some level of reply)
		this loop closes out the nested divs. -->
	{% for i in commentary.sum_delta %}
				</div>
	{% endfor %}


{% endblock content %}