{% extends "base.html" %}

{% block title %}
	{% if document %}
		Edit {{document.title}}
	{% else %}
		Create Document
	{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/create.js"></script>
{% endblock %}

{% block tabs %}
	<div class="tabs {main:'true'}">
{% endblock %}



{% block content %}

{% comment %}
----------------------------------------------------------------------------
--------------------------------WRITE---------------------------------------
----------------------------------------------------------------------------
{% endcomment %}

	<div class="tab {name:'Write',initial:'true'}">
	<div class="left_half">			
		<a href="{%if document%}{{document.get_url}}{%else%}{{user.get_url}}{%endif%}" title="Return to previous page.">Cancel</a>
		<h1 class="interface">{% if document %}Edit{% else %}Create{% endif %}{% if parentDocument %} response to "{{ parentDocument.title }}"{% endif %}</h1>
		<form action="/create/document/"  method=post>
			<table>
				<tr>
					<td>File Name: </td><td><input type="text" id="filename" name="filename" size=40 value="{{document.filename}}" /></td>
				</tr>
				<tr>
					<td>Title: </td><td><input type="text" name="title" size=80 value="{{document.title}}" /></td>
				</tr>
				<tr>
					<td>Subtitle (optional): </td><td><input class="mceDocument" id="create_input" type="text" name="subtitle" size=80 value="{{document.subtitle}}" /></td>
				</tr>
				<tr>
					<td>Description: </td><td><input type="text" name="description" size=80 value="{{document.get_description}}" 
						title="Used in streams and search results. Use it to attract readers who will be interested in your content. Max 150 characters. No special characters or HTML tags allowed."/></td>
				</tr>
			</table>
			{% for tag in added_tags %}
			<div class="include_{{tag.title}}">
			<input type="hidden" name="added_tag" class="include_{{tag.title}}" value="{{tag.title}}"/>
			</div>
			{% endfor %}
			<input type="hidden" name="documentType" value="{{documentType}}" />
			<input type="hidden" name="username" value="{{document.author.username}}"/>
			<input type="hidden" name="parentKey" value="{{parentDocument.key}}" />
			<input type="hidden" name="existing_filename" value="{{document.filename}}"/>
			<input type="hidden" class="scriptless" name="scriptless" value="true"/>
		    <textarea name=document_content rows=20 cols=75>{{document.content}}</textarea>
		    <br>
		    <input type="checkbox" name="draft" value="True" {% if document.draft or not document %}checked{% endif %} /> Mark as Draft 
		    <br/>
		    <input type=submit value="Next Step: Add Tags >>"/>
		</form>
		
		
		{% if document %}
		<form action="delete/" method="get">
			<input type="submit" value="Delete" title="Permanently delete this document."/>
		</form>
		{% endif %}
	</div>
	<div class="marginalNote scriptless">
		HTML tags are allowed. Accepted tags are: 
		<span title='Creates a hyperlink. Example: &lt a href="www.economist.com"&gt at The Economist&lt/a&gt'>'a'</span>, 'blockquote', 
		<span title="Start a new line. No opening tag, just &lt /br&gt">'br'</span>, <span title="italicize"'i'</span>,
		<span title="emphasize">'em'</span> , <span title="bold">'b'</span>, 
		<span title="Ordered list. Each list item should be contained in li tags.">'ol'<span>,
		<span title="Unordered list. Bulleted rather than numbered list items.">'ul'</span>,
		<span title="List item. Only works inside ol or ul tags."> 'li'</span>, 
		<span title="Paragraph. Enclose each pragraph in these.">'p'</span>
		<span title="Heading. Use this if you want to break your essay into sections.">'h3'</span>. 
		To begin a tag use &lt tag &gt text &lt /tag &gt. For example
		&lt em &gt text &lt /em &gt , will emphasize the text like <em>this</em>. Mouse over the tags for more info. 

	</div>
	</div>
{% comment %}
----------------------------------------------------------------------------
--------------------------------TAG-----------------------------------------
----------------------------------------------------------------------------
{% endcomment %}
	
	<div class="tab {name:'Tag'}">
	<div class="scriptOnly">
		<div id="added_tags">{% include 'tag_request/addto.html' %}</div>
		<div id="tags">
		<button  title="Use tags to identify your topic" id="browse_tags" class="subtlebutton">Add Tags</button>
		</div>
	</div>
	</div>

	

</div>
	
{% endblock %}