{% extends "comment_request/commentary.html" %}
{% block title %}
	{% if document %}
		Edit {{document.title}}
	{% else %}
		Create Document
	{% endif %}
{% endblock %}

{% block tabs %}
	<script type="text/javascript">
		tabular('#tab_write','#write','maintabs',true)
		tabular('#tab_tag','#tag','maintabs')
	</script>
	<div class="tabs">
 		<ul class="tabs">
			<li id="tab_write">Write</li>
			<li id="tab_tag">Tag</li>
		</ul>

 
	</div>
{% endblock %}

{% block main_content %}

	<script type="text/javascript">
		basic_MCE()
		var forbidden = "`~!@#$%^&*()+={}[]\\|:;\"\'<>,. ";
	
		var works = new Array();
		{% for document in userdocuments %}
		works.push("{{document.filename}}");
		{% endfor %}
	
		var added_tags = new Array();
		{% if document %}
			{% for tag in document.tags %}
				added_tags.push("'{{tag}}'")			 
			{% endfor %}
		{% endif %}		
		
		function validate_filename()
		{
			var x=document.getElementById("filename").value;
			if (x==null || x=="")
			  {
				  alert("Filename is required.");
				  return false;
			  }
			for(i=0;i < forbidden.length;i++)
				{
					if (x.indexOf(forbidden.charAt(i)) != -1)
					{
						alert("Filenames may only contain A-z, 1-9, _ , and -.");
						return false;
					}
				}
			{% if not document %}
			if (array_member(works,x))
				{
					var confirmation = confirm("You have already created a document with this file name. Do you want to replace it?");
					return confirmation;
				}
			{% endif %}
		}
	</script>

{% comment %}
----------------------------------------------------------------------------
--------------------------------WRITE---------------------------------------
----------------------------------------------------------------------------
{% endcomment %}
	<div id="write">
	<h1 class="embed">{% if document %}Edit{% else %}Create{% endif %}</h1>
	<form action="/create"  method=post>
		<table>
			<tr>
				<td>File Name: </td><td><input type="text" id="filename" name="filename" size=40 value="{{document.filename}}" /></td>
			</tr>
			<tr>
				<td>Title: </td><td><input type="text" name="title" size=80 value="{{document.title}}" /></td>
			</tr>
			<tr>
				<td>Subtitle (optional): </td><td><input id="create_input" type="text" name="subtitle" size=80 value="{{document.subtitle}}" /></td>
			</tr>
			<tr>
				<td>Description: </td><td><input type="text" name="description" size=80 value="{{document.get_description}}" 
					title="Used in streams and search results. Use it to attract readers who will be interested in your content. Max 150 characters. No special characters or HTML tags allowed."/></td>
			</tr>
		</table>
		{% for tag in added_tags %}
		<div class="include_{{tag.title}}">
		<input type="hidden" name="added_tag" class="include_{{tag.title}}" value="{{tag.title}}"/>
		</div>
		{% endfor%}
		<input type="hidden" name="username" value="{{document.author.username}}"/>
		<input type="hidden" name="existing_filename" value="{{document.filename}}"/>
	    <textarea name=document_content rows=20 cols=75>{{document.content}}</textarea>
	    <br>
	    <input type="checkbox" name="draft" value="True" {% if document.draft or not document %}checked{% endif %} /> Mark as Draft | 
	    <input type=checkbox name="subscribe" value="subscribe" {% if user.username in document.subscribers or not edit %}checked{%endif%}>
	    	<span>Recieve email notifications if someone replies to this Document.</span>
	    </input>
	    <br/>
	    <input type=submit 
	    value={% if document %}"Save"{% else %}"Create"{% endif %}
	    onClick="return validate_filename()"
	    />


	</form>
	
	<script type="text/javascript">
	$(document).ready(function(){
		$('#cancel_button').click(function(){
				var agree=confirm('You are about to close this document without saving. Continue?');
				if (agree)
					window.history.back();
			})
		})	
	</script>
	<button id="cancel_button" >Cancel</button>
	
	{% if document %}
	<form action="delete/" method="get">
		<input type="submit" value="Delete" title="Permanently delete this document." onClick="return confirmSubmit('Do you want to permanently delete this document?')"/>
	</form>
	{% endif %}
	</div>
{% comment %}
----------------------------------------------------------------------------
--------------------------------TAG-----------------------------------------
----------------------------------------------------------------------------
{% endcomment %}
	<div id="tag">
		<div id="added_tags">{% include 'tag_request/addto.html' %}</div>
		<div id="tags">
			
				
			<script type="text/javascript">
				divtrigger("button#browse_tags","div#tags",'tag_base/',{"user_type":"user"})
			</script> 	
			<button  title="Use tags to identify your topic" id="browse_tags" class="subtlebutton">Add Tags</button>
		</div>
		

	</div>

	
{% endblock %}