

{% extends "comment_request/comment_base.html" %}

{% block title %}
{{document.title}}
{% endblock title%}

{% block scripts %}
	{% if user.username == document.author.username and not document.special%}
	<script type="text/javascript" src="/static/js/edit.js"></script>
	{% endif %}
	<script type="text/javascript" src="/static/js/document.js"></script>
	<script type="text/javascript" src="/static/js/comment_system.js"></script>
	<script type="text/javascript" src="/static/js/subscribeTag.js"></script>
{% endblock %}

{% block leftside %}
{% comment %}
---------------------------------------------------------
(((		TAG LINKS
---------------------------------------------------------
{% endcomment %}
	{% if document.get_leaftags %}
	<div class="tagList">
		<ul>									
			{% for tag in document.get_leaftags %}
			<li>
			<a class="margin" href="/tag/{{tag.title}}/" title='{{tag.title}}'>{{tag.title}}</a>
			</li>
			{% endfor %}
			
		</ul>
	</div>
	{% endif %}
{% comment %}
---------------------------------------------------------
		TAG LINKS								      )))
---------------------------------------------------------
{% endcomment %}
{% endblock %}

{% block tabs %}
	{% if user.username == document.author.username %}
	<div class="tabs {main:'true'}">
	{% endif %}
{% endblock %}

{% block main_content %}

{% comment %}
---------------------------------------------------------
(((		DOCUMENT
---------------------------------------------------------
{% endcomment %}
<div class="tab {name:'Document',initial:'true'}">
	<h1 class="creator">
		<a title="Visit {{document.author.username}}'s  Page" class="creator" href="/user/{{document.author.username}}/">
			{{document.author.username}}
			{% if document.draft %} : draft{% endif %}
		</a>
		<a title="More Meta Ticket's " class="creator" href="/meta/">
		{% if 'feature' in document.type %} : Feature Request{% endif %}
		{% if 'bug' in document.type %} : Bug Report{% endif %}
		</a></h1>	
	<h1 class="document {filename:'{{document.filename}}',author:'{{document.author.username}}'}" >{{document.title}}</h1>
	
	{% if document.subtitle %}
		<h2 class="document">{{document.subtitle}}</h2>
	{% endif %}
	<div id="document">
	{% autoescape off %}
		{{document.content}}
	{% endautoescape %}
	</div>
	<hr/>
	
	{% if document.author.username == user.username %}
	{% comment %}
	---------------------------------------------------------
	(((		SCRIPTLESS EDIT
	---------------------------------------------------------
	{% endcomment %}
		<a href="{{document.get_url}}edit/" class="aButton scriptless">Edit this Document</a>
		<br/><br/>
	{% endif %}
	{% comment %}
	---------------------------------------------------------
			SCRIPTLESS EDIT							      )))
	---------------------------------------------------------
	{% endcomment %}	

	{% comment %}
	---------------------------------------------------------
	(((		REPLY DOCUMENT
	---------------------------------------------------------
	{% endcomment %}
	{% if not ticket%}
	
	<div id="documentReplies">
		
		{% if document.parentDocument %}
			This document is a response to:
			{% with document.parentDocument as doc %}
				{% include 'streamDocument.html' %}
			{% endwith %}
		{% endif %}
		
		{% if document.get_document_replies %}
		<h2 class="interface">Responses</h2>
			{% for doc in document.get_document_replies %}
				{% include 'streamDocument.html' %}
			{% endfor %}
		{% endif %}
		
		{% if document.parentDocument or document.get_document_replies %}
		<a href="context/">view this document's entire context</a><br/><br/>
		{% endif %}
		
		{% if user %}
			You can respond to <span class="username">{{document.author.username}}</span>'s essay with an essay of your own.
			<form action="/create/reply/" method="post">
				<input type="hidden" name="aboveKey" value="{{document.key}}" />
				<input type="submit" value="Respond" title="Start a new essay in reply to {{document.title}}" />
			</form>
		{% endif %}
		
	</div>
	{% endif %}
	
	{% comment %}
	---------------------------------------------------------
			REPLY DOCUMENT								  )))
	---------------------------------------------------------
	{% endcomment %}
	
	{% comment %}
	---------------------------------------------------------
	(((		CURRENT TAG LIST
	---------------------------------------------------------
	{% endcomment %}	
	Tags:<br/>
	{% for tag in document.get_leaftags %}
		<form action="{{tag.get_url}}" method="get">
			<input class="tagButton" type="submit" value="{{tag.title}}" />
			{% if user %}
			{% if not tag.title in user.subscriptions_tag %}
				<a href="subscribe-tag/scriptless_add/{{tag.title}}/" class="subscribe_tag aButton {tag:'{{tag.title}}'}" 
				title="New documents with this tag will automatically appear in your stream.">
					Subscribe
				</a>			
			{% else %}
				<a href="subscribe-tag/scriptless_remove/{{tag.title}}/" class="subscribe_tag aButton {tag:'{{tag.title}}'}" 
				title="Remove this tag from your subscriptions.">
					Unsubscribe
				</a>			
			{% endif %}
			{% endif %}
		</form> 
		<br/>
	{% endfor %}
	{% comment %}
	---------------------------------------------------------
			CURRENT TAG LIST						      )))
	---------------------------------------------------------
	{% endcomment %}	

	

	{% comment %}
	---------------------------------------------------------
	(((		DOCUMENT INFO
	---------------------------------------------------------
	{% endcomment %}
	
	<div id="document_info" >
		

		
		{% comment %}
		---------------------------------------------------------
		(((		VIEWS
		---------------------------------------------------------
		{% endcomment %}
			
			<span class="docinfoitem">Views: {{document.views}}</span>
			<br/>
		{% comment %}
		---------------------------------------------------------
				VIEWS									      )))
		---------------------------------------------------------
		{% endcomment %}		

		{% if not document.draft %}
		
		{% comment %}
		---------------------------------------------------------
		(((		FAVORITE
		---------------------------------------------------------
		{% endcomment %}
		
		{% if not ticket %}
		{% if user and user.username != document.author.username and not document.key in user.favorites%}
			<div id="favorite_div" class="docinfoitem">
			<a title="add to favorites" href="{{document.get_url}}favorite/add/" ><img src="/static/images/star_bw_48px.png" height="36" width="36" /></a>
			</div>
			{% endif %}
			{% if user and user.username != document.author.username and document.key in user.favorites %}
			<div class="docinfoitem" id="favorite_div">
			<a title="remove from favorites" href="{{document.get_url}}favorite/remove/" ><img src="/static/images/star_48px.png" height="36" width="36" /></a>
			</div>
		{% endif %}
		<span class="docinfoitem">Favorites: {{document.favCount}}</span></br>
		{% endif %}
		{% comment %}
		---------------------------------------------------------
				FAVORITE								      )))
		---------------------------------------------------------
		{% endcomment %}

			
		{% comment %}
		---------------------------------------------------------
		(((		RATINGS
		---------------------------------------------------------
		{% endcomment %}
		
			<span class="docinfoitem" id="rating">Rating: {{document.rating}}</span>
			{% if user %}
				{% if not document.author.username == user.username or user.is_admin%}
					{% if user.username not in document.raters or user.is_admin %}			
						<form action="/rate/" method="post" class="rate">
							<input type="hidden" name="key" value="{{document.key}}" />
							<input type="hidden" name="rating" value="up" />
							<input type="hidden" name="scriptless" value="true" />
							<input  type="submit" value="rate up" />
						</form>
						<form action="/rate/" method="post" class="rate">
							<input type="hidden" name="key" value="{{document.key}}" />
							<input type="hidden" name="rating" value="down" />
							<input type="hidden" name="scriptless" value="true" />
							<input  type="submit" value="rate down" />
						</form>
					{% else %}
						<span class="rate">Thanks for rating.</span>
					{% endif %}
				{% endif %}	
			{% else %}
				<span class="rate">Sign in to vote on documents.</span>
			{% endif %}
			

		{% comment %}
		---------------------------------------------------------
				RATINGS									      )))
		---------------------------------------------------------
		{% endcomment %}
		
			<br/>
			
		{% comment %}
		---------------------------------------------------------
		(((		FACEBOOK
		---------------------------------------------------------
		{% endcomment %}
			{% if not ticket %}
			<iframe src="http://www.facebook.com/plugins/like.php?href=http://hanksandbox.appspot.com/{{document.author.username}}/document/{{document.filename}}/"
	        scrolling="no" frameborder="0"
	        class="facebook docinfoitem"></iframe>
	        {% endif %}
	        
		{% comment %}
		---------------------------------------------------------
				FACEBOOK								      )))
		---------------------------------------------------------
		{% endcomment %}
		        
        {% endif %}
	{% comment %}
	---------------------------------------------------------
			DOCUMENT INFO						     	  )))
	---------------------------------------------------------
	{% endcomment %}
	</div>
{% comment %}
---------------------------------------------------------
		DOCUMENT								      )))
---------------------------------------------------------
{% endcomment %}	
</div>	

	
{% if user.username == document.author.username %}
<div class="tab {name:'Edit'}">
<div class="scriptOnly {% if not document.special %}tabs{% endif %}">
{% comment %}
---------------------------------------------------------
(((		EDIT
---------------------------------------------------------
{% endcomment %}
	
	{% comment %}
	---------------------------------------------------------
	(((		WRITE
	---------------------------------------------------------
	{% endcomment %}
	<div class="tab fullpage {name:'Write',initial:'true'}">
	<h1 class="embed">Edit</h1>
	<form action="/create/document/"  method=post>
		<table>
			{% if not document.special %}
			<tr>
				<td>File Name: </td><td><input type="text" id="filename" name="filename" size=40 value="{{document.filename}}" /></td>
			</tr>
			{% endif %}
			<tr>
				<td>Title: </td><td><input type="text" name="title" size=80 value="{{document.title}}" /></td>
			</tr>
			{% if not document.special %}
			<tr>
				<td>Subtitle (optional): </td><td><input id="create_input" type="text" name="subtitle" size=80 value="{{document.subtitle}}" /></td>
			</tr>
			{% endif %}
			<tr>
				<td>Description: </td><td><input type="text" name="description" size=80 value="{{document.get_description}}" 
					title="Used in streams and search results. Use it to attract readers who will be interested in your content. Max 150 characters. No special characters or HTML tags allowed."/></td>
			</tr>
		</table>
		{% for tag in document.get_leaftags %}
		<div class="include_{{tag.title}}">
		<input type="hidden" name="added_tag" class="include_{{tag.title}}" value="{{tag.title}}"/>
		</div>
		{% endfor%}
		<input type="hidden" name="username" value="{{document.author.username}}"/>
		<input type="hidden" name="existing_filename" value="{{document.filename}}"/>
	    <textarea name="document_content" class="tinymce" rows=100 cols=100>{{document.content}}</textarea>
	    <br>
	    {% if not document.special %}
	    <input type="checkbox" name="draft" value="True" {% if document.draft or not document %}checked{% endif %} /> Mark as Draft
	    {% endif %} 
	    <br/>
	    <input type=submit value="Save"/>
	
	
	</form>
		
	<button id="cancel_button" >Cancel</button>
	{% comment %}
	---------------------------------------------------------
			WRITE								     	  )))
	---------------------------------------------------------
	{% endcomment %}
	
	{% comment %}
	---------------------------------------------------------
	(((		DELETE
	---------------------------------------------------------
	{% endcomment %}

	<form action="delete/" method="get">
		<input type="submit" value="Delete" title="Permanently delete this document."/>
	</form>
	
	{% comment %}
	---------------------------------------------------------
			DELETE								     	  )))
	---------------------------------------------------------
	{% endcomment %}
	</div>
		
	<div class="tab fullpage {name:'Tag'}">
	{% comment %}
	---------------------------------------------------------
	(((		TAG
	---------------------------------------------------------
	{% endcomment %}
	{% if not document.special %}
		<h2>Current Tags</h2>
		<div id="added_tags">{% include 'tag_request/addto.html' %}</div>
		<div id="tags">
			<button  title="Use tags to identify your topic" id="browse_tags" class="subtlebutton">Add Tags</button>
		</div>
	{% endif %}	
	{% comment %}
	---------------------------------------------------------
			TAG								     	  )))
	---------------------------------------------------------
	{% endcomment %}
	</div>
		
</div>
</div>
{% endif %}
{% comment %}
---------------------------------------------------------
		EDIT									      )))
---------------------------------------------------------
{% endcomment %}

{% endblock main_content %}

{% block postBody %}
</div>
{% endblock %}