	<form action="/create/document/"  method=post>
		<table>
			{% if not doc.special %}
			<tr>
				<td>
					File Name: </td><td><input type="text" id="filename" name="filename" size=40 value="{{doc.filename}}" /> 
					<span class="tooltip" title="Filenames can be used to create multiple versions of the same file. The filename will also be displayed in the URL for this document. The characters a-z, 0-9, and - (hyphen) are allowed. Search engines consider URLs when ordering search results. So if you want to connect you essay to a particular search term use that term in your filename. Though it's best not to create a keyword-heavy spammy-looking url that might scare away human visitors."></span>
				</td>
			</tr>
			{% endif %}
			<tr>
				<td>Title: </td><td><input type="text" name="title" size=80 value="{{doc.title}}" /></td>
			</tr>
			{% if not doc.special %}
			<tr>
				<td>Subtitle (optional): </td><td><input id="create_input" type="text" name="subtitle" size=80 value="{{doc.subtitle}}" /></td>
			</tr>
			{% endif %}
			<tr>
				<td>Description: </td><td>
					<textarea name="description" title="Used in streams and search results. Use it to attract readers who will be 
					interested in your content. Max 150 characters. No special characters or HTML tags allowed." 
					rows=2 cols=59>{{doc.get_description}}</textarea></td>
			</tr>
		</table>
		{% for tag in doc.get_leaftags %}
		<div class="include_{{tag.title}}">
		<input type="hidden" name="added_tag" class="include_{{tag.title}}" value="{{tag.title}}"/>
		</div>
		{% endfor%}
		<input type="hidden" name="username" value="{{doc.author.username}}"/>
		<input type="hidden" name="existing_filename" value="{{doc.filename}}"/>
	    <textarea name="document_content" class="mceBase">{{doc.content}}</textarea>
	    <br>
	    {% if not doc.special %}
	    <input type="checkbox" name="draft" value="True" {% if doc.draft or not doc %}checked{% endif %} /> Mark as Draft
	    <br />
	    {% if user.is_admin %}
	    <input type="checkbox" name="admin" value="True" {% if doc.admin%}checked{% endif %} /> Admin Doc
	    {% endif %}
	    {% endif %} 
	    <br/>
	    <input type=submit value="Save"/>
	</form>