

{% extends "comment_request/commentary.html" %}

{% block title %}
{{document.title}}
{% endblock title%}

{% block main_content %}

	<h1 class="creator"><a title="Visit {{document.author.username}}'s  Page" class="creator" href="/user/{{document.author.username}}/">
		{{document.author.username}}{% if document.draft %} : draft{% endif %}
		</a></h1>

	<div id="document_info" class="rate">
		{% if not document.draft %}
			{% if document.authorname == user.username  or not user %}
				<span>Rating: {{document.rating}}</span>
			{% else %}
				
				
					{% if user.username in document.raters %}
					<span class="rate">Thanks for your feedback. Rating: {{document.rating}}</span>
					{% else %}
							<!-- This script takes rating actions to the server. -->
							<script type="text/javascript">
								$(document).ready(function(){
								  $("a#document_rate_up").click(function(){
								    $("div#rate").load('rate/',{
								    	"rating":"up",
								    	"filename":"{{document.filename}}",
								    	"username":"{{document.author.username}}",
								    	});
								  });
								  $("a#document_rate_down").click(function(){
								    $("div#rate").load('rate/',{
								    	"rating":"down",
								    	"filename":"{{document.filename}}",
								    	"username":"{{document.author.username}}",
								    	});
								  });
								});		
							</script>
							
					<div class="rate" id="rate">
						<a href="javascript:;" title="Vote Document Up" id="document_rate_up" class="rate_up"></a>
						<a href="javascript:;" title="Vote Document Down" id="document_rate_down" class="rate_down"></a>
					</div>	
					{% endif %}
			{% endif %}
		{% endif %}
		<br/>
		Views: {{document.views}}
	</div>
	
	
	<h1 class="document" >{{document.title}}</h1>
	
	{% if subtitle %}
		<h2 class="document">{{subtitle}}</h2>
	{% endif %}
	<div id="document">
	{% autoescape off %}
		{{document.content}}
	{% endautoescape %}
	</div>
	<hr/>
	Tags:
	{% for tag in document.tags %}
		<button class="tag">{{tag}}</button> 
	{% endfor %}
	
	{% ifequal user.username document.author.username %}
		<form action="edit/" method="get">
			<input type="submit" value="edit"/>
		</form>
	{% endifequal %}

{% endblock main_content %}