{% extends "base.html" %}

{% block title %}
	Essay Home
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/tag_browser.js"></script>
{% endblock %}

{% block leftside %}
	<div class="l_outer">
		
		<ul>		
			<li>
			{% for child in root_tags %}
				<a href="/tag/{{child.title}}/" title='{{child.title}}'>{{child.title}}</a><br/>
			{% endfor %}
			</li>
		</ul>
	
	</div>
{% endblock %}

{% block content %}
<script type="text/javascript" >name="Meta"</script>

			
	{% comment %}
	----------------------------------------------------------------------------------
	-----------------------------Left Column Tabs-------------------------------------
	{% endcomment %}	
	<div class="tabs left_half">
		<div class="tab {name:'Recent Documents'}">
			<h1>Recent Documents</h1>
		
			{% for doc in main_documents %}
			{% if not doc.draft %}
			{% include 'streamDocument.html'%}
			{% endif %}
			{% endfor %}
		</div>
		<div class="tab {name:'Browse by Tag',initial:'true'}">
			<h1>Browse by Tag</h1>
			<div id="tag_browser" class="tag_browser">
				A tag browser is available for javascript enabled user agents. You may use the links on the left side to browse articles by tag.
					
			</div>				
		</div>
	</div>
	




{% endblock %}