{% extends "base.html" %}

{% block title %}
	Meta
{% endblock %}

{% block content %}
<div>
	<h1>Welcome to the Meta Page</h1>
	<p>This page is dedicated to discussion of this site. <b>Meta Documents</b> are ordinary documents 
		that are given the meta tag as an indicator that this site is a part of the document's
		subject matter. <b>Bug Reports</b> are special documents that users can submit in order to point
		out things that seem to be broken with regard to the site. <b>Feature Requests</b> are the place
		to go if you have an idea about something that the site should be able to do. These special
		types of documents are essential for the maintainance and improvement of the site, and
		your input is very much appreciated.
	</p>
	
</div>
<div class="left_half">
	<h2>Meta Docs</h2>
	{% for doc in metaDocs %}
		{% if not doc.draft %}
		{% include 'streamDocument.html'%}
		{% endif %}
	{% endfor %}
</div>

<div class="right_half">
	
	<h2>Feature Requests
	{% if user %}
	<a class="aButton" href="/create/feature/">New</a>
	{% endif %}
	</h2>
	{% for doc in featureRequests %}
		{% include 'streamDocument.html'%}
	{% endfor %}	
	
	<h2>Bug Reports
	{% if user %}
	<a class="aButton" href="/create/bug/">New</a>
	{% endif %}
	</h2>	
	{% for doc in bugReports %}
		{% include 'streamDocument.html'%}
	{% endfor %}	
</div>

{% endblock %}