{% extends "base.html" %}

{% block title %}

	{% if selfComment %}
	Edit {{selfComment.subject}}
	{% else %}
	
		{% if above.authorname %}
		Comment on {{above.title}}
		{% endif %}
		
		{% if above.username %}
		Comment on {{above.username}}'s page
		{% endif %}
		
		{% if above.subject %}
		Reply to {{above.subject}}
		{% endif %}
		
	{% endif %}
	
{% endblock title %}

{% block content %}

	<h1>
	{% if selfComment %}
	Edit {{selfComment.subject}}
	{% else %}
	
		{% if above.authorname %}
		Comment on {{above.title}}
		{% endif %}
		
		{% if above.username %}
		Comment on {{above.username}}'s page
		{% endif %}
		
		{% if above.subject %}
		Reply to {{above.subject}}
		{% endif %}
		
	{% endif %}
	</h1>
{% if messages %}
	{% for message in messages%}
	<div class='warning'>
		{{message}}
	</div>
	{% endfor %}
{% endif %}
<form action="comment/" method=post>
		Subject:
		<input type="text" name="subject" size=80 
		value=
		{% if selfComment %}
		"{{selfComment.subject}}"
		{% else %} 
			{% if above.authorname %}"RE: {{above.title}}"{% endif %}
			{% if above.username %}"RE: {{above.username}}"{% endif %}
			{% if above.subject %}"RE: {{above.subject}}"{% endif %}
		{% endif %} 
		/>
		<br/>
	    <textarea class="tinymce" name="content" rows=5 cols=80>{% if selfComment %}{{selfComment.content}}{% endif %}</textarea>
	    
       <input type="hidden" name="aboveKey" value="{{above.key}}" />
       <input type="hidden" name="selfKey" value="{{selfComment.key}}" />
       <input type="hidden" name="scriptless" value="true" />
       <br />
	   <input type=submit value={% if selfComment %}"Save"{% else %}"Comment"{% endif %} />
	   {% if user %}
	   <input type=checkbox name="subscribe" value="subscribe" 
	   {% if user.username in selfComment.subscribers or not selfComment %}checked{%endif%}>
	   Recieve email notifications if someone replies to this comment.
	   </input>
	   {% endif %}
</form>

<form action="comment/" method="post">
	<input type="hidden" name="delete" value="true" />
	<input type="hidden" name="selfKey" value="{{selfComment.key}}" />
	<input type="submit" value="Delete" title="Permanently delete this comment." />
</form>

{% endblock content %}

