{% extends "base.html" %}

{% block title %}
Comment on {% if document %}{{document.title}}{% else %}{{page_user.username}}{% endif %}
{% endblock %}

{% block content %}



{% if document %}
<h1>Respond to {{document.title}} by {{document.authorname}}.</h1>

{% else %}
<h1>Respond to {{page_user.username}}'s User Page.</h1>

{% endif %}


<form action="comment/" method=post>
		Subject:<input type="text" name="subject" size=80 value="RE: {% if document %}{{document.title}}{% else %}{{page_user.username}}{% endif %}" /><br/>
	    <textarea class="tinymce" name=content rows=5 cols=80></textarea>
	    
	    {% if document %}
		    <input type="hidden" name="filename" value="{{document.filename}}" />
		    <input type="hidden" name="object_user" value="{{document.authorname}}" />
	    {% endif  %}
	    
	   	{% if page_user %}
	    	<input type="hidden" name="object_user" value="{{page_user.username}}" />
	    {% endif  %}
	    <input type="hidden" name="commentType" value="{{commentType}}" />
	    <input type="hidden" name="commentAction" value="top_level" />
	    <input type=submit value="Comment" />
	    {% if user %}
	    <input type=checkbox name="subscribe" value="subscribe" checked>Recieve email notifications if someone replies to this comment.</input>
	    {% endif %}
</form>

{% endblock content %}

