{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript" src="/static/js/register.js"></script>
{% endblock %}

{% block content %}
	<span class="warning">
	{% if changed %}
		Some unacceptable characters have been removed from your username. </br>
		username after removal: {{changed}}</br>
		</br>
		{% if not taken %}
		You can continue with this username or submit a different one.
		<form action="/register" method="post">
			<input type="hidden" name="username" value="{{changed}}"/>
			<input type="hidden" name="scriptless" value="true"/>
			<input type="submit" value="Continue with {{changed}}"/>
		</form>
		{% else %}
		This username is already in use. Choose something different.
		{% endif %}	
	{% else %}
		{% if taken %}
			That username is not available. Choose something different.
		{% endif %}	
	{% endif %}
	{% if messages %}
		<br/><br/>
		Errors: <br/>
		{% for message in messages %}
			{{message}}</br>
		{% endfor %}
	{% endif %}
	</span>
	
	<h1 class="embed">Register</h1>
	<form id="entry" action="/register" method=post>
		Username: 
		<input title="usernames are not case sensitive and may only contain A-z, 1-9, _ , and -" 
			type="text" id="username" name="username" {%if changed%}value="{{changed}}"{%endif%}/>
		<span class="status" id="status"></span>
		<br/>
		<input class="scriptless" type="hidden" name="scriptless" value="true" />
		<input type=submit value="Submit">
	</form>
	</br>
	<div class="note round">
		Usernames are not case sensitive and may only contain the characters 'A-Z', 'a-z', '1-9', '_', and '-'. 
	</div>
	
	<form action="/register" method="post" >
		<input type="hidden" name="cancel" value="true" />
		<input type="submit" value="Cancel" />		
	</form>

{% endblock %}