{% extends "base.html" %}
{% block content %}

	<script type="text/javascript" >
	loader = new Image(10, 10); 
	loader.src = '/static/images/loader.gif';
	
	var is_in_use = false
	var forbidden = "`~!@#$%^&*()+={}[]\\|:;\"\'<>,. ";
		
	function validate_username()
		{
			var x=document.getElementById("username").value;
			if (x==null || x=="")
			  {
				  alert("Username is required.");
				  return false;
			  }
			for(i=0;i < forbidden.length;i++)
				{
					if (x.indexOf(forbidden.charAt(i)) != -1)
					{
						alert("Usernames may only contain A-z, 1-9, _ , and -.");
						return false;
					}
				}

			if (is_in_use)
				{
					alert("This username already exists, you must choose a unique username.");
					return false;
				}
		}

	$(document).ready(function(){
	
		$('#username').bind('keyup change paste cut',function(){	
			
			var user = $('#username').val();
			
			if(user.length >= 1)
			{
				$('#status').html('<img class="loader_img" src="/static/images/loader.gif"/> Checking availability...');
				
				$.ajax({
					type: "POST",
					url: "availability/",
					data: "username=" + user,
					success: function(message){
						$('#status').ajaxComplete(function(event,request,settings){
							if(message == "1")
							{
								$(this).html('username available');	
							}
							else if(message =="00")
							{
								is_in_use = true
								$(this).html('username already in use');	
							}
							else if(message =="01")
							{
								$(this).html('username may only contain A-z, 1-9, _ , and -');	
							}
							else
							{
								$(this).html('error unknown');	
							}
									
						})
					}
	
				})
			}
				
		})
		
		
	})
	</script>

	<h1 class="embed">Register</h1>
	<form action="/register" method=post>
		Username: <input title="usernames are not case sensitive and may only contain A-z, 1-9, _ , and -" type="text" id="username" name="username"/><br/>
		<input type=submit onClick="return validate_username()" value="Submit">
	</form>
	<div id="status"></div>
	

{% endblock %}