{% extends "base.html" %}

{% block title %}
	{{maintag.title}}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/subscribeTag.js"></script>
{% endblock %}

{% block leftside %}
	<div class="tagList">
		<ul>
			
			<li>
				<a class="margin" href="/home/" title='return to top'>Home</a>
			</li>
			
			
			{% for ancestor in maintag.get_ancestors reversed %}
			<li>
			<a href="/tag/{{ancestor.title}}/" class="margin" title='{{ancestor.title}}'>{{ancestor.title}}</a>
			</li>
			{% endfor %}
			
			
			<li>
				<hr/>
				<b>{{maintag.title}}</b>
				<hr/>
			</li>

		
			
			{% for child in maintag.get_children %}
			<li>
				<a href="/tag/{{child.title}}/" class="margin" title='{{child.title}}'>{{child.title}}</a>
			</li>
			{% endfor %}
			
		</ul>	
	</div>
{% endblock %}

{% block content %}

	<h1 class="interface">
		{{ maintag.title }} 
	</h1>
	{% if user %}
		{% if not maintag.title in user.subscriptions_tag %}
		<a href="subscribe-tag/scriptless_add/{{maintag.title}}/" class="subscribe_tag aButton {tag:'{{maintag.title}}'}"  
		title="New documents with this tag will automatically appear in your stream.">
			Subscribe
		</a>			
		{% else %}
		<a href="subscribe-tag/scriptless_remove/{{maintag.title}}/" class="subscribe_tag aButton {tag:'{{maintag.title}}'}"
		title="Remove this tag from your subscriptions.">
			Unsubscribe
		</a>			
		{% endif %}
		<br/></br>
	{% endif %}
	
	{% for doc in maintag.get_documents%}
	{% if not doc.draft %}
		{% include 'streamDocument.html' %}
	{% endif %}
	{% endfor %}


{% endblock %}