{% extends "base.html" %}

{% block title %}
	{{maintag.title}}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block leftside %}
	<div class="l_outer">
		
		<ul>
			
			<li>
				<a href="/home/" title='return to top'>Home</a>
			</li>
			
			<li>
			{% for ancestor in maintag.get_ancestors %}
			<a href="/tag/{{ancestor.title}}/" title='{{ancestor.title}}'>{{ancestor.title}}</a>
			{% endfor %}
			</li>
			
			<li>
				<hr/>
				{{maintag.title}}
				<hr/>
			</li>

		
			<li>
			{% for child in maintag.get_children %}
				<a href="/tag/{{child.title}}/" title='{{child.title}}'>{{child.title}}</a><br/>
			{% endfor %}
			</li>
		</ul>
	
	</div>
{% endblock %}

{% block content %}

	<h1>{{ maintag.title }}</h1>

	{% for doc in maintag.get_documents%}
	{% if not document.draft %}
	<div>
		<a href="{{doc.get_url}}">{{doc.title}}</a> by 
		<a class="username" href="{{doc.author.get_url}}">{{doc.author.username}}</a>
	</div>
	{% endif %}
	{% endfor %}


{% endblock %}