{% extends "comment_request/comment_base.html" %}

{% block title %}
{{ page_user.username }}'s Page
{% endblock title%}

{% block tabs %}
	<script type="text/javascript">
		tabular('#tab_connect','#connect','maintabs')
		tabular('#tab_documents','#frontpage','maintabs',true)
	</script>
	<div class="tabs">
 		<ul class="tabs">
			<li id="tab_documents">Documents</li>
			<li id="tab_connect">{% if user.username == page_user.username %}Information{% else %}Connect{% endif %}</li>
		</ul>

 
	</div>
{% endblock %}

{% block main_content %}

<a href="/user_base/{{page_user.username}}/">{{page_user.username}}'s page :: new style</a>

{% comment %}
----------------------------------------------------------------------------
-----------------------------FRONT PAGE-------------------------------------
----------------------------------------------------------------------------
{% endcomment %}
<div id="frontpage">

<h1> Welcome to {{ page_user.username }}'s Page </h1>

<div class="left_half">


<h2> {{ page_user.username }}'s Essays </h2>		
{% ifequal page_user.username user.username %}
<a href="/create">Create</a>
{% endifequal %}

	{% for doc in page_user.works %}
	{% if not doc.draft %}
	{% include 'stream_doc.html'%}
	{% endif %}
	{% endfor %}


{% if user.username in page_user.circle or page_user.username == user.username %}
<h2> {{ page_user.username }}'s Drafts </h2>	

	{% for doc in page_user.works %}
	{% if doc.draft %}
	{% include 'stream_doc.html'%}
	{% endif %}
	{% endfor %}


{% endif %}

</div>

<div class="right_half">
	{% comment %}
	-----------------------------------------------------------------------------------
	-----------------------------Right Column Tabs-------------------------------------
	{% endcomment %}	
	
	<script type="text/javascript">
		tabular('#tab_stream','#the_stream','rightcolumntabs', true)
		tabular('#tab_favorites','#favorites','rightcolumntabs')
	</script>
	<div class="bodytabs">
 		<ul class="tabs">
			<li id="tab_stream">Stream</li>
			<li id="tab_favorites">Favorites</li>
		</ul>
	</div>
	
	{% comment %}
	----------------------------------------------------------------------------
	-----------------------------STREAM-----------------------------------------
	{% endcomment %}
	<div id="the_stream">
	
	<h2> {{ page_user.username }}'s Subscription Stream </h2>
	{% for doc in page_user.fetch_stream %}
		{% if doc.title %}
			{% if not doc.draft or user.username in doc.author.circle %}	
				{% include 'stream_doc.html'%}
			{% endif %}		
		{% else %}
		
		<div class="stream_item" id="{{doc.key}}">
			
			<div class="stream_header">
			<a href="/user/{{doc.author.username}}/">{{doc.author.username}}</a> replied to 
			{% if doc.get_page_object.username %}
			<a href="/user/{{doc.get_page_object.username}}/">{{doc.get_page_object.username}}</a>'s page 
			{% else %}
			<a href="/{{doc.get_page_object.author.username}}/document/{{doc.get_page_object.filename}}/">{{doc.get_page_object.title}}</a>
			{% endif %}
			</div>
			
			<script type="text/javascript">
				$(document).ready(function(){
					$('#comment_link_{{doc.key}}').click(function(){
					window.location.href = 
						{% if doc.get_page_object.username %}
							"/user/{{doc.get_page_object.username}}/#{{doc.key}}bookmark"
						{% else %}
							"/{{doc.get_page_object.author.username}}/document/{{doc.get_page_object.filename}}/#{{doc.key}}bookmark"
						{% endif %};
					})
				})
			</script>
			<div class="comment_header" id="comment_link_{{doc.key}}">
				{{doc.subject}}
			</div>		
			<div class="comment_top">

			    <small>[<i>{{ doc.date.ctime }}</i>]</small>
				<b>
						<code>{{ doc.author.username }}</code> 
				</b>
				wrote:<br>
			</div>
				
			<div class="comment" >
				{% autoescape off %}
					{{ doc.content }}
				{% endautoescape %}
			</div>
		</div>
		{% endif %}
	{% endfor %}
	
	</div>
	{% comment %}
	----------------------------------------------------------------------------
	-----------------------------FAVORITES--------------------------------------
	{% endcomment %}
	<div id="favorites">
		<h2> {{ page_user.username }}'s Favorites </h2>
		{% for doc in page_user.fetch_favorites %}
				{% include 'stream_doc.html'%}		
		{% endfor %}	
	</div>
	
</div>

</div>

{% comment %}
----------------------------------------------------------------------------
-------------------------CONNECT/INFORMATION----------------------------------------
----------------------------------------------------------------------------
{% endcomment %}

<div id="connect">
<div class="left_half">

<!--begin user circle menu-->
{% if user.username == page_user.username %}
your reputation: {{user.reputation}}
	<script type="text/javascript">
		reveal_controller('h2#circle','#circle_div')
		reveal_controller('h3#mycircle','#mycircle_div')
		reveal_controller('h3#mypermissions','#mypermissions_div')
		reveal_controller('h3#myinvitees','#myinvitees_div')
		reveal_controller('h3#myinvitations','#myinvitations_div')
	</script>
	<h2 id="circle">Writer's Circle</h2>
	<div class="menu" id="circle_div">
		{% if user.circle %}
		<h3 id="mycircle" title="users who belong to your writers circle">My Writer's Circle</h3>
		<div class="menu" id="mycircle_div">
			{% for member in user.circle %}
			<a href="/user/{{ member }}/" class="sidebar_link">{{member}}</a>
			{% endfor %}
		</div>
		{% endif %}
		
		{% if user.circlepermissions %}
		<h3 id="mypermissions" title="users whose circles you belong to" >My Circle Permissions</h3>
		<div class="menu" id="mypermissions_div">
			{% for member in user.circlepermissions %}
			<a href="/user/{{ member }}/" class="sidebar_link">{{member}}</a>
			{% endfor %}
		</div>
		{% endif %}
		
		{% if user.invitees %}
		<h3 id="myinvitees" title="people you've invited to join your writer's circle">Invitees</h3>
		<div class="menu" id="myinvitees_div">
			{% for invitee in user.invitees %}
			<a href="/user/{{ invitee }}/" class="sidebar_link">{{invitee}}</a>
			{% endfor %}
		</div>
		{% endif %}
	
		{% if user.invitations %}
		<h3 id="myinvitations" title="the following people want you to join their writer's circle">Invitations</h3>
		<div class="menu" id="myinvitations_div">
			{% for invite in user.invitations %}
				<div class="menu" id="{{invite}}">
					<script type="text/javascript">
						$(document).ready(function(){
							
								$('#accept{{invite}}').click(function(){	
															
										$.ajax({
											type: "POST",
											url: "/invite_handler/",
											data: "inviter={{invite}}&accept=True",
											success: function(){
												$('#mypermissions_div').ajaxComplete(function(event,request,settings){
													$(this).add(
													'<a href="/user/{{ invite }}/">{{invite}}</a>'
													)													
												})								
												$('#{{invite}}').ajaxComplete(function(event,request,settings){
													$(this).remove()													
												})
											}	
										})											
									})			
								})
								
						$(document).ready(function(){
							
								$('#reject{{invite}}').click(function(){	
															
										$.ajax({
											type: "POST",
											url: "/invite_handler/",
											data: "inviter={{invite}}&accept=False",
											success: function(){							
												$('#{{invite}}').ajaxComplete(function(event,request,settings){
													$(this).remove()													
												})
											}	
										})											
									})			
								})
	
					</script>
					
					<a href="javascript:;" id="accept{{invite}}" class="subtle" title="accept" class="sidebar_link">(+)</a>
						<a href="/user/{{ invite }}/" target='_blank' class="sidebar_link">{{invite}}</a>
					<a href="javascript:;" id="reject{{invite}}" class="subtle" title="reject" class="sidebar_link">(-)</a>
				</div>
			</div>
			{% endfor %}
		{% endif %}
	</div>

	<hr class="menu"/>
	<script type="text/javascript">
		reveal_controller('h2#mysubscriptions','#mysubscriptions_div')
		reveal_controller('h3#your_subscriptions','#your_subscriptions_div')
		reveal_controller('h3#your_subscribers','#your_subscribers_div')
	</script>
	
	<h2 id="mysubscriptions" class="menu_head">Subscriptions</h2>
	<div class="menu" id="mysubscriptions_div">
		<h3 id="your_subscriptions" class="menu_header">Your Subscriptions</h2>
		<div class="menu" id="your_subscriptions_div">
			
			{% if page_user.subscriptions_user %}
				Users:
				
				{% for subscribee in page_user.subscriptions_user %}
				<a href="/user/{{ subscribee }}/" class="sidebar_link">{{subscribee}}</a>
				{% endfor %}
			{% endif %}
			{% if page_user.subscriptions_tag %}
				Tags:
				<hr/>
				{% for tag in page_user.subscriptions_tag %}
				<a href="/tag/" class="sidebar_link">{{tag}}</a>
				{% endfor %}
			{% endif %}
			{% if not page_user.subscriptions_user and not page_user.subscriptions_tag %}
				You have no subscriptions.
			{% endif %}
			
			
		</div>
		<h3 id="your_subscribers" class="menu_header">Your Subscribers</h2>
		<div class="menu" id="your_subscribers_div">
			{% if page_user.subscribers %}
				{% for subscriber in page_user.subscribers %}
				<a href="/user/{{ subscriber }}/" class="sidebar_link">{{subscriber}}</a>
				{% endfor %}
			{% else %}
				You have no subscribers.
			{% endif %}
		</div>
	</div>
	
{% endif %}
<!--end user circle menu-->
<!--begin invitation dialog-->
{% if user.username != page_user.username and user %}
	{% if page_user.username not in user.circle and page_user.username not in user.invitees %}
		<script type="text/javascript">
			$(document).ready(function(){
			
				$('#addtocircle').click(function(){	
											
						$.ajax({
							type: "POST",
							url: "/invite/",
							data: "invitee=" + "{{page_user.username}}",
							success: function(){
								$('#yourcircle').ajaxComplete(function(event,request,settings){
									$(this).html('<span class="rate">{{page_user.username}} has been invited to join your writers circle</span>')				
								})
							}
						})				
				})
						
			})	
		</script>
		
		
		<div id="yourcircle" >
		<a href="javascript:;" id="addtocircle" title="invite {{page_user.username}} to read your drafts" class="sidebar_link">invite to circle</a>
		</div>
	
	{% else %}
	
		{% if page_user.username in user.invitees %}
		<span class="rate">{{page_user.username}} has been invited to join your writers circle</span>
		{% endif %}
		
		{% if page_user.username in user.circle %}
		<span class="rate">{{page_user.username}} is a member of your writers circle</span>
		{% endif %}
		
	{% endif %}

	
	<script type="text/javascript">
		reveal_controller('h2#subscribe','#subscribe_div')
		$(document).ready(function(){
				var data = { 'subscriptions' : [], 'page_user':'{{page_user.username}}'};
				
				$('#submit_subscribe').click(function(){
						
						$("#subscribe_div input:checked").each(function() {
						  data['subscriptions'].push($(this).val());	
						});		
		
						$.ajax({
							type: "POST",
							url: "/subscription_handler/",
							data: data,
							success: function(message){
								$('#subscribe_outer_div').ajaxComplete(function(event,request,settings){
									$(this).html('<span>message</span>')				
								})
							}
						})				
				})
						
			})	
	</script>
	
	<div id="subscribe_outer_div">
		<h2 id="subscribe" class="menu_head" title="recieve notifications about new content by this user">
			{% if page_user.username in user.subscriptions_user %}Subscription{% else %}Subscribe{% endif %}</h2>
			<div id="subscribe_div">
			<table>
			<tr>
				<td class="sidebar_table">Event</td>
				<td class="sidebar_table" title="recieve notifications in your subscription stream">Subscribe</td>
				<td class="sidebar_table" title="recieve notifications by email">Email</td>
			</tr>
			<tr>
				<td class="sidebar_table" title="when user publishes new documents">Document</td>
				<td class="sidebar_table" ><input type="checkbox" name="subscribe_publish" value="subscribe_publish"
					{% if page_user.username in user.subscriptions_document %}checked{%endif%}/></td>
				<td class="sidebar_table" ><input type="checkbox" name="email_publish" value="email_publish" 
					{% if user.username in page_user.subscribers_document %}checked{%endif%}/></td>
			</tr>
			<tr>
				<td class="sidebar_table" title="when user leaves new comments">Comment</td>
				<td class="sidebar_table" ><input type="checkbox" name="subscribe_comment" value="subscribe_comment"
					{% if page_user.username in user.subscriptions_comment %}checked{%endif%}/></td>
				<td class="sidebar_table" ><input type="checkbox" name="email_comment" value="email_comment"
					{% if user.username in page_user.subscribers_comment %}checked{%endif%}/></td>
			</tr>
		</table>
			<a href="javascript:;" class="sidebar_table rate subtle" id="submit_subscribe">
				{% if page_user.username in user.subscriptions_user %}Save Settings{% else %}Subscribe Now{% endif %}</a>
		</div>
	</div>
	
	<!--begin subscribe-->
{% endif %}
</div>
</div>

{% endblock main_content %}

