{% extends "comment_request/comment_base.html" %}

{% block title %}
{{ page_user.username }}'s Page
{% endblock title%}

{% block tabs %}
{% if user  %}
<div class="tabs {main:'true'}">
{% endif %}
{% endblock tabs %}
	
{% block main_content %}
	{% if user %}
	<div class="tab {name:'Documents',initial:'true'}">	
	{% endif %}
	
	<h1> Welcome to <span class="username">{{ page_user.username }}</span>'s Page </h1>
	{% comment %}
	---------------------------------------------------------
	(((		Documents
	---------------------------------------------------------
	{% endcomment %}
	<div class="left_half"> 	
		
		<h2> <span class="username">{{ page_user.username }}</span>'s Essays		
		{% ifequal page_user.username user.username %}
		<a href="/create/document/" class="aButton" title="Begin writing a new essay.">Create</a>
		{% endifequal %}
		 </h2>
		
		{% for doc in page_user.works %}
		{% if not doc.draft and not doc.special%}
		{% include 'streamDocument.html'%}
		{% endif %}
		{% endfor %}
		
		
		{% if user.username in page_user.circle or page_user.username == user.username %}
			<h2> <span class="username">{{ page_user.username }}</span>'s Drafts </h2>	
		
			{% for doc in page_user.works %}
			{% if doc.draft %}
			{% include 'streamDocument.html'%}
			{% endif %}
			{% endfor %}
	
		{% endif %}
		
	{% comment %}
	---------------------------------------------------------
			Documents									  )))
	---------------------------------------------------------
	{% endcomment %}	
	</div>
	
	<div class="right_half tabs">	
		{% comment %}
		---------------------------------------------------------
		(((		Stream
		---------------------------------------------------------
		{% endcomment %}						
		<div class="tab {name:'Stream',initial:'true'}">
			<h2 class="notab">Stream</h2>
			
			{% for doc in page_user.fetch_stream %}
				{% if doc.object_type == 'Document' %}
					{% if not doc.draft or user.username in doc.author.circle %}	
						{% include 'streamDocument.html'%}
					{% endif %}		
				{% endif %}
				
				{% if doc.object_type == 'Comment' %}
					{% include 'streamComment.html' %}
				{% endif %}
				
				{% if doc.object_type == 'StreamMessage' %}
					{% if user.username != page_user.username %}
						{% if not doc.private %}
						{% autoescape off %}{{doc.content}}{% endautoescape %}
						{% endif %}						
					{% endif %}
					{% if user.username == page_user.username %}
						{% autoescape off %}{{doc.content}}{% endautoescape %}
						<a href="message/remove/{{doc.key}}/" title="Delete message." class="subtle"> x</a>
						</br>
					{% endif %}					
				{% endif %}
			{% endfor %}
			
		{% comment %}
		---------------------------------------------------------
				Stream									      )))
		---------------------------------------------------------
		{% endcomment %}
		</div>		
		
		<div class="tab {name:'Favorites'}">
			<h2 class="notab">Favorites</h2>
			{% for doc in page_user.fetch_favorites %}
				{% include 'streamDocument.html'%}		
			{% endfor %}	
		</div>			
	</div>
	{% if user %}
	</div>
	{% endif %}
	{% if user %}
	<div class="tab {% if user.username == page_user.username %}{name:'Your Information'}{% else %}{name:'Connect with {{page_user.username}}'}{% endif %}">
		<div class="left_half">
		{% comment %}
		---------------------------------------------------------
		(((		PERSONAL INFO
		---------------------------------------------------------
		{% endcomment %}
			{% if user.username == page_user.username or user.is_admin%}
			<div class="tabs">
			{% endif %}
			{% comment %}
			---------------------------------------------------------
			(((		DISPLAY
			---------------------------------------------------------
			{% endcomment %}
				<div class="tab {name:'Personal Info',initial:'true'}">
					<h2 class="notab">Personal Info</h2>
					{% if user.username == page_user.username or user.is_admin%}
					<span title="Comments with Ratings lower than your rating threshold will display minimized.">Rating Threshold</span>:
					{{user.threshold}}	
					{% endif %}		
					<br/>
					Tag Subscriptions: 
					{% if user.subscriptions_tag %}
						{% for tag in user.subscriptions_tag %}
						<a href="/tag/{{tag.title}}/">{{tag.title}}</a>	
						{% endfor %}
					{% else %}
						None
					{% endif %}
				</div>
			{% comment %}
			---------------------------------------------------------
					DISPLAY									      )))
			---------------------------------------------------------
			{% endcomment %}
			
			{% comment %}
			---------------------------------------------------------
			(((		EDIT
			---------------------------------------------------------
			{% endcomment %}
			{% if user.username == page_user.username or user.is_admin%}
				<div class="tab {name:'Edit'}">
					<h2 class="notab">Edit</h2>
					Comments with Ratings lower than your rating threshold will display minimized.
					<form action="/userinfo/" method="post">
						Rating Threshold: <input name="threshold" type="number" size=2 value={{page_user.minimizeThreshold}} />
						<input type="hidden" name="attribute" value="threshold">
						<br/>
						First Name: <input type="text" name="firstname" value="{{page_user.firstname}}"  />
						<br/>
						Last Name: <input type="text" name="lastname" value="{{page_user.lastname}}" />	
						<input type="checkbox" name="displayname" value="displayname" {%if page_user.name_preference == 'realname'%}checked{%endif%}/>	
						Display my name on documents.
						<br/>
						<input type="submit" value="Save Settings" />			
					</form>
				
					</br>
					<form action="/delete-account/" method="post">
						<input type="submit" value="Delete my Account" title="Delete your Account?!" />
						<input type="hidden" name="username" value="{{page_user.username}}" />
					</form>
				</div>
			{% comment %}
			---------------------------------------------------------
					EDIT									      )))
			---------------------------------------------------------
			{% endcomment %}
				
			</div>
			{% else %}
			<h2><span class="username">{{page_user.username}}'s Information</span></h2>
			{% endif %}
		{% comment %}
		---------------------------------------------------------
				PERSONAL INFO							      )))
		---------------------------------------------------------
		{% endcomment %}
		
		{% comment %}
		---------------------------------------------------------
		(((		SPECIAL DOCUMENTS
		---------------------------------------------------------
		{% endcomment %}	
		<h2>Meta Tickets</h2>
		
		{% for doc in page_user.works %}
		{% if doc.special %}
		{% include 'streamDocument.html' %}
		{% endif %}
		{% endfor %}
		
		{% comment %}
		---------------------------------------------------------
				PERSONAL INFO							      )))
		---------------------------------------------------------
		{% endcomment %}						
		</div>								
		<div class="tabs right_half">
			
			{% comment %}
			---------------------------------------------------------
			(((		WRITERS CIRCLE
			---------------------------------------------------------
			{% endcomment %}
			
			<div class="tab {name:'Circle', initial:'true'}">
				<h2 class="notab">Circle</h2>
				Writer's Circle members have the ability to view and comment on your drafts. Writer's Circle membership is 
				asymmetrical. That is, if you invite a user to join your Circle they will gain the ability to view your
				drafts, but unless they specifically invite you, you will not be able to view theirs. </br>
				
				{% comment %}
				---------------------------------------------------------
				(((		INVITE/MANAGE
				---------------------------------------------------------
				{% endcomment %}
				
				{% if user %}
					{% if user.username == page_user.username %}
					<a href="/circle/manage/{{user.username}}/">Manage your Circle permissions.</a>
					{% else %}
						{% if page_user.username in user.circle%}
						<span class="username">{{page_user.username}}</span> is a member of your Circle.
						{% else %}
							{% if page_user.username in user.invitees %}
							<span class="username">{{page_user.username}}</span> has been invited to join your Circle.
							{% else %}
							<a href="circle/invite/{{page_user.username}}/">
								Invite <span class="username">{{page_user.username}}</span> to join your Circle.
							</a>
							{% endif %}
						{% endif %}
					{% endif %}			

				{% endif %}
				
				{% comment %}
				---------------------------------------------------------
						INVITE/MANAGE							      )))
				---------------------------------------------------------
				{% endcomment %}

				{% comment %}
				---------------------------------------------------------
				(((		CIRCLE MEMBERS
				---------------------------------------------------------
				{% endcomment %}
								
				{% if page_user.username == user.username%}
					<h3 title="Users who belong to your Circle.">Members</h3>
					{% if user.circle %}
						{% for member in user.circle %}
						<a href="/user/{{ member }}/" class="username">{{member}}</a>
						{% endfor %}
					{% else %}
						Your Circle has no members.
					{% endif %}
				{% else %}
					{% if  user.username in page_user.circle %}
						<h3 title="Users who belong to {{page_user.username}}'s Circle.">Members</h3>
						{% if user.circle %}
							{% for member in user.circle %}
							<a href="/user/{{ member }}/" class="username">{{member}}</a>
							{% endfor %}
						{% endif %}
					{% endif %}
				{% endif %}
				
				{% comment %}
				---------------------------------------------------------
						CIRCLE MEMBERS							      )))
				---------------------------------------------------------
				{% endcomment %}
				
				{% comment %}
				---------------------------------------------------------
				(((		CIRCLE MEMBERSHIPS
				---------------------------------------------------------
				{% endcomment %}
								
				{% if user.username == page_user.username %}
					<h3 title="Users whose Circle's you belong to.">Memberships</h3>
					{% if user.circlepermissions %}
						{% for member in user.circlepermissions %}
						<a href="/user/{{ member }}/" class="username">{{member}}</a>
						{% endfor %}
					{% else %}
						You don't belong to any Writer's Circles.
					{% endif %}
				{% endif %}
				
				{% comment %}
				---------------------------------------------------------
						CIRCLE MEMBERSHIPS						      )))
				---------------------------------------------------------
				{% endcomment %}	
				
				{% comment %}
				---------------------------------------------------------
				(((		CIRCLE INVITATIONS
				---------------------------------------------------------
				{% endcomment %}
								
				{% if user.username == page_user.username and user.invitations %}
					<h3 title="Users who have invited you to join their circle.">Invites</h3>
					{% for username in user.invitations %}
						<a href="circle/accept/{{username}}/">accept</a>
						<a href="/user/{{ username }}/" class="username">{{username}}</a>
						<a href="circle/decline/{{username}}/">decline</a>
						</br>
					{% endfor %}
				{% endif %}
				
				{% comment %}
				---------------------------------------------------------
						CIRCLE INVITATIONS						      )))
				---------------------------------------------------------
				{% endcomment %}
				
				{% comment %}
				---------------------------------------------------------
				(((		INVITES OUTSTANDING
				---------------------------------------------------------
				{% endcomment %}
								
				{% if user.username == page_user.username and user.invitees %}
					<h3 title="Users you have invited to join your Circle.">Standing Invitations</h3>
					{% for username in user.invitees %}
						<a href="/user/{{ username }}/" class="username">{{username}}</a>
					{% endfor %}
				{% endif %}
				
				{% comment %}
				---------------------------------------------------------
						INVITES OUTSTANDING						      )))
				---------------------------------------------------------
				{% endcomment %}			
				
				
			{% comment %}
			---------------------------------------------------------
					WRITERS CIRCLE							      )))
			---------------------------------------------------------
			{% endcomment %}
			</div>
			
			{% comment %}
			---------------------------------------------------------
			(((		SUBSCRIPTIONS
			---------------------------------------------------------
			{% endcomment %}	
					
			<div class="tab {name:'Subscriptions'}">
				<h2 class="notab">Subscriptions</h2>
				{% if user.username != page_user.username %}
				<h3>Subscribe<h3/>
				<form action="subscribe/{{page_user.username}}/" method="post">
				<table>
					<tr>
						<td >Event</td>
						<td  title="recieve notifications in your subscription stream">Subscribe</td>
						<td  title="recieve notifications by email">Email</td>
					</tr>
					<tr>
						<td  title="when user publishes new documents">Document</td>
						<td><input type="checkbox" name="subscriptions" value="subscribe_publish"
							{% if page_user.username in user.subscriptions_document %}checked{%endif%}/></td>
						<td><input type="checkbox" name="subscriptions" value="email_publish" 
							{% if user.username in page_user.subscribers_document %}checked{%endif%}/></td>
					</tr>
					<tr>
						<td  title="when user leaves new comments">Comment</td>
						<td><input type="checkbox" name="subscriptions" value="subscribe_comment"
							{% if page_user.username in user.subscriptions_comment %}checked{%endif%}/></td>
						<td><input type="checkbox" name="subscriptions" value="email_comment"
							{% if user.username in page_user.subscribers_comment %}checked{%endif%}/></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td><input type="submit" value="Save" /></td>
					</tr>
				</table>				
				</form>
				{% endif %}
				{% if user.username != page_user.username %} 
				<h3>{{page_user.username}}'s Subscriptions</h3>
				{% else %}
				<h3>Your Subscriptions</h3>
				{% endif %}
				{% if page_user.subscriptions_user %}
					{% for subscription in page_user.subscriptions_user %}
						<a href="/user/{{subscription}}/" class="username">{{subscription}}</a>
					{% endfor %}					
				{% else %}
				None
				{% endif %}
				
				{% if user.username != page_user.username %} 
				<h3>{{page_user.username}}'s Subscribers</h3>
				{% else %}
				<h3>Your Subscribers</h3>
				{% endif %}
				{% if page_user.subscribers %}
					{% for subscriber in page_user.subscribers %}
						<a href="/user/{{subscriber}}/" class="username">{{subscriber}}</a>
					{% endfor %}
				{% else %}
				None
				{% endif %}
				
				
			</div>
			{% comment %}
			---------------------------------------------------------
					SUBSCRIPTIONS							      )))
			---------------------------------------------------------
			{% endcomment %}
			
		</div>
	</div>
	{% endif %}
{% endblock main_content %}

{% block postBody %}

{% endblock %}