{% extends "comment_request/comment_base.html" %}

{% block title %}
{{ page_user.username }}'s Page
{% endblock title%}

{% block tabs %}
<div class="tabs {main:'true'}">
{% endblock tabs %}
	
{% block main_content %}
	
	<div class="tab {name:'Documents',initial:'true'}">	
	
	<h1> Welcome to <span class="username">{{ page_user.username }}</span>'s Page </h1>

	{% comment %}
	---------------------------------------------------------
	(((		Documents
	---------------------------------------------------------
	{% endcomment %}
	<div class="left_half"> 	
	
	<h2> <span class="username">{{ page_user.username }}</span>'s Essays		
	{% ifequal page_user.username user.username %}
	<a href="/create" class="aButton" title="Begin writing a new essay.">Create</a>
	{% endifequal %}
	 </h2>
	
	{% for doc in page_user.works %}
	{% if not doc.draft %}
	{% include 'streamDocument.html'%}
	{% endif %}
	{% endfor %}
	
	
	{% if user.username in page_user.circle or page_user.username == user.username %}
		<h2> <span class="username">{{ page_user.username }}</span>'s Drafts </h2>	
	
		{% for doc in page_user.works %}
		{% if doc.draft %}
		{% include 'streamDocument.html'%}
		{% endif %}
		{% endfor %}

	{% endif %}
	
	{% comment %}
	---------------------------------------------------------
			Documents									  )))
	---------------------------------------------------------
	{% endcomment %}	
	</div>
	
	<div class="right_half tabs">							

		(tabs div)
		<div class="tab {name:'tabA',initial:'true'}"> (tab A) </div>
		<div class="tab tabs {name:'tabB'}"> (tab B)
			(tabs div)
			<div class="tab {name:'tab a',initial:'true'}"> (tab a) </div>
			<div class="tab {name:'tab b'}"> (tab b) </div>
			<div class="tab {name:'tab c'}"> (tab c) </div>
			<div class="tab {name:'tab d'}"> (tab d) </div>
			<div class="tab {name:'tab e'}"> 
				Given a jQuery object that represents a set of DOM elements, the .closest() method 
				searches through these elements and their ancestors in the DOM tree and constructs 
				a new jQuery object from the matching elements. The .parents() and .closest() methods 
				are similar in that they both traverse up the DOM tree. The differences between the 
				two, though subtle, are significant: 
			</div>
		</div>
				
	</div>
</div>
	
	<div class="tab {name:'back page'}">
		(back page)
	</div>
{% endblock main_content %}

{% block postBody %}

{% endblock %}